@charset "utf-8";
.main {background:#F6F6F6}
.main .container{display:flex;flex-direction:column;;gap:20px;padding:20px 25px;}
/* 공통 */
.con{display:flex;width:100%;}
.con .box{height:100%;border-radius:10px;background:#fff;}
.con .mico{position:relative;display:inline-block;width:44px;height:44px;border-radius:10px;}
.con .mico:before{content: "";display:block;position:absolute;top:50%;left:50%;}

.con .box{display:flex;align-items:center;justify-content:space-between;}
.con .box.col{flex-direction:column; align-items:flex-start;justify-content:space-between;}

.con .titwrap{display:flex;align-items:center;justify-content:space-between;width:100%;padding:30px 30px 20px;}
.con .titwrap h3{color:#182869;font-size:15px;}
.con .titwrap.bn_qs {justify-content: flex-start;border-bottom:0;}
.con .titwrap.bn_qs button{padding:0;border:0;}

.con .grap{padding:0 30px 30px;}
.con .grap img{max-height:100%;}

.con_top{height:130px;gap:20px;}
.maintitwrap{width:75%;padding:30px 50px;border:5px solid #fff;background: transparent!important;color:#182869}
.maintitwrap .tit h2{position:relative;display:inline-block;padding-right:40px;font-family: 'mont';font-size:28px;line-height:1.5;}
.maintitwrap .tit h2::after{content:"";display:block;position:absolute;right:0;top:4px;width:32px;height:32px;background:url(../images/main/ico_tit1_1.svg) no-repeat}
.maintitwrap .tit p b{font-weight:bold;}
.maintitwrap .alldata{display:flex;align-items:center;justify-content:space-between;gap:4%;width:calc(100% - 340px)}
.maintitwrap .alldata li{display:flex;flex-direction:column;position:relative;width:20%;padding-left:54px;}
.maintitwrap .alldata li .mico{position:absolute;left:0;background:#fff;}
.maintitwrap .alldata li .mico.ico1{background:#182869}
.maintitwrap .alldata li .mico.ico2{background:#00C5FF}
.maintitwrap .alldata li .mico.ico3{background:#0057FF}
.maintitwrap .alldata li .mico.ico4{background:#F66D6D}
.maintitwrap .alldata li .mico.ico5{background:#46CE9B}
.maintitwrap .alldata li .mico.ico1:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_1.svg);}
.maintitwrap .alldata li .mico.ico2:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_2.svg);}
.maintitwrap .alldata li .mico.ico3:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_3.svg);}
.maintitwrap .alldata li .mico.ico4:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_4.svg);}
.maintitwrap .alldata li .mico.ico5:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_5.svg);}

.maintitwrap .alldata li ul{display:flex;flex-direction:row;align-items:center;}
.maintitwrap .alldata li ul li{display:flex;flex-direction:row;width:auto;padding:0 10px 0 0 ;}
.maintitwrap .alldata li strong{display:flex;align-items:center;gap:10px;}
.maintitwrap .alldata li strong b{display:inline-block;padding-bottom:4px;font-size:18px;font-weight:bold;line-height:1.2}
.maintitwrap .alldata li strong span{font-weight:bold;font-family:'GmarketSansB';font-size:18px;line-height:1;}
.maintitwrap .alldata li li b{display:inline-block;font-weight:normal;font-size:14px;}
.maintitwrap .alldata li li span{margin:0 2px;font-size:13px;font-family:'GmarketSansB';line-height:1.9;}

.con_top .con_top_r{width:25%;padding:20px 50px;color:#fff;background:#3A78F2;}
.con_top .con_top_r h3{display:flex;align-items:center;gap:10px;color:#fff}
.con_top .con_top_r h3 .mico{background:#fff;}
.con_top .con_top_r h3 .mico:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_2.svg);}
.con_top .con_top_r li{display:flex;align-items:center;justify-content:space-between;gap:20px;}
.con_top .con_top_r li span{font-weight:bold;font-family:'mont';}

.con_mid{height:490px;gap:20px;}
.con_mid .con_mid_ㅣ{width:38.6%;}
.con_mid .projectwrap{width:61.4%;}

.con_mid .con_mid_ㅣ img{width:100%;height:100%;}
.projectwrap .titwrap{padding:20px 30px;border-bottom:1px solid #E2E8FB}

.projectwrap {justify-content: flex-start!important;}
.projectwrap .tab-nav{position:relative;display:flex;border-radius:5px;overflow:hidden;}
.projectwrap .tab-nav_link{display:inline-block;margin: 0;vertical-align:bottom;border:1px solid #EDEDED;border-left:0;}
.projectwrap .tab-nav_link:first-child{border-left:1px solid #EDEDED;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.projectwrap .tab-nav_link:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.projectwrap .tab-nav_link span{position:relative;display:inline-block;padding: 6px 15px 6px 25px;font-size:15px;color: #939393;}
.projectwrap .tab-nav_link span:before{content:"";display:block;position:absolute;left:12px;top:50%;width:8px;height:8px;margin-top:-4px;background:#AFAFAF;border-radius:100%;}
.projectwrap .tab-nav_link:nth-of-type(1) span{padding: 6px 15px;}
.projectwrap .tab-nav_link:nth-of-type(1) span:before{display:none;}
.projectwrap .tab-nav_link:nth-of-type(3) span:before{background:#0057FF}
.projectwrap .tab-nav_link:nth-of-type(4) span:before{background:#46CE9B}
.projectwrap .tab-nav_link.active span{color: #fff;padding: 6px 15px;background:#0057FF}
.projectwrap .tab-nav_link.active span:before{display:none;}
.projectwrap .tab-nav_link:nth-of-type(1).active{border-left:0}
.projectwrap .tab-nav_link:nth-of-type(2).active span{background:#AFAFAF}
.projectwrap .tab-nav_link:nth-of-type(3).active span{background:#0057FF}
.projectwrap .tab-nav_link:nth-of-type(4).active span{background:#46CE9B}
.projectwrap .tab-body{display:none;width:100%;height: 323px;margin-top: 0;position:relative;}
.projectwrap .tab-body.active{display:block}

.projectlist {height:100%;overflow:auto;}
.projectlist .list{margin:13px 30px;}
.projectlist li{display:flex;align-items:center;justify-content:space-between;width:100%;padding:14px 26px;border:1px solid #fff;border-top:1px solid #E2E8FB}
.projectlist li:first-child{border-top-color:#fff;}
.projectlist li:hover{border:1px solid #0057FF;border-radius:10px;}
.projectlist li .lcon strong{display:block;font-size:16px;font-weight:bold;color:#182869}
.projectlist li .lcon .adr{position:relative;padding-left:20px;}
.projectlist li .lcon .adr:after{content:"";display:block;position:absolute;left:0;top:3px;;display:inline-block;width:12px;height:17px;background:url(../images/common/ico_adress.svg) no-repeat}
.projectlist li .rcon{display:flex;align-items:center;justify-content:center}
.projectlist li .rcon .state {display:flex;align-items:center;}
.projectlist li .rcon .state b{position:relative;padding-left:20px;padding-right:10px}
.projectlist li .rcon .state b:before{content:"";display:block;position:absolute;left:0;top:6px;width:12px;height:12px;border-radius:100px;}
.projectlist li .rcon .state.rate_ready *{color:#AFAFAF}
.projectlist li .rcon .state.rate_ready b:before{background:#AFAFAF;}
.projectlist li .rcon .state.rate_ing *{color:#0057FF}
.projectlist li .rcon .state.rate_ing b:before{background:#0057FF;}
.projectlist li .rcon .state.rate_end *{color:#46CE9B}
.projectlist li .rcon .state.rate_end b:before{background:#46CE9B;}

.rate{display:inline-block;width:152px;height:20px;padding-left:110px;background-repeat:no-repeat;background-position:0 50%;font-family:'GmarketSansB';font-size:12px;line-height:1.8}
.rate0{background-image:url(../images/main/rate0.svg);}
.rate10{background-image:url(../images/main/rate10.svg);}
.rate20{background-image:url(../images/main/rate20.svg);}
.rate30{background-image:url(../images/main/rate30.svg);}
.rate40{background-image:url(../images/main/rate40.svg);}
.rate50{background-image:url(../images/main/rate50.svg);}
.rate60{background-image:url(../images/main/rate60.svg);}
.rate70{background-image:url(../images/main/rate70.svg);}
.rate80{background-image:url(../images/main/rate80.svg);}
.rate90{background-image:url(../images/main/rate90.svg);}
.rate100{background-image:url(../images/main/rate100.svg);}


.projectlist li .rcon button.onlybn{width:28px;height:28px;padding:0 4px;justify-content: center;border:2px solid #E2E8FB}
.projectlist li .rcon button.onlybn .ico.bi-arr{width:8px;height:11px;background-image:url(../images/main/ico_arr_b.svg);}
.projectlist li:hover .rcon button.onlybn{background:#0057FF;border-color:#0057FF}
.projectlist li:hover .rcon button.onlybn .ico.bi-arr{background-image:url(../images/main/ico_arr_w.svg);}

.con_bottom{height:260px;gap:20px;}
.con_bottom .con_bottom_1wrap,
.con_bottom .con_bottom_2wrap{width:20%;}
.con_bottom .con_bottom_3wrap,
.con_bottom .con_bottom_4wrap{width:32%;}

.con_bottom .con_bottom_1wrap .titwrap{flex-direction:column;align-items: flex-start;border-bottom:0;}
.con_bottom .con_bottom_1wrap .titwrap h3{position:relative;padding-top:50px;}
.con_bottom .con_bottom_1wrap .titwrap h3:after{content:"";position:absolute;left:0;top:0;display:block;width:66px;height:48px;background:url(../images/main/ico_completion.svg) no-repeat;}
.con_bottom .con_bottom_1wrap ul{width:100%;padding:10px 40px 40px;}
.con_bottom .con_bottom_1wrap ul li{display:flex;justify-content:space-between;align-items:center;padding-left:100px;padding-top:4px;color:#182869}
.con_bottom .con_bottom_1wrap ul li b{display:inline-block;width:110px;}
.con_bottom .con_bottom_1wrap ul li b span{display:inline-block;padding:2px 3px;margin-left:2px;border:1px solid #8B94B4;color:#182869;font-size:11px;border-radius:2px;line-height:1;}
.con_bottom .con_bottom_1wrap ul li .num{display:inline-block;padding:4px 7px;border-radius:5px;color:#fff;background:#1A3B97;font-family: 'GmarketsansB';font-size:12px;line-height:1}

.con_bottom .con_bottom_2wrap .txtwrap{padding:0 30px 30px;}
.con_bottom .con_bottom_2wrap .txtwrap table{border-spacing:4px;border-collapse:separate;margin:0;padding:0;}
.con_bottom .con_bottom_2wrap .txtwrap table,
.con_bottom .con_bottom_2wrap .txtwrap table th,
.con_bottom .con_bottom_2wrap .txtwrap table td{padding:7px;border:0;border-radius:5px;}
.con_bottom .con_bottom_2wrap .txtwrap table th{color:#9B9B9B;background:#EDEDED;}
.con_bottom .con_bottom_2wrap .txtwrap table td{background:#F6F6F6;color:#545454;font-size:14px;font-family: 'GmarketSansB';}
.con_bottom .con_bottom_2wrap .txtwrap table thead th:first-child{background:#F6F6F6;}
.main #footer{position:static;}
.main #footer p{justify-content:left;}


/* 24 dashborad 시스템관리자 */
.main24 .container{flex-direction:row;}
.main24 .container .con_l{width:62%;gap:20px;}
.main24 .container .con_r{width:38%;gap:20px;}
.main24 .container .con{flex-direction:column;}
.main24 .container .con .box{height:auto}

.main24 .container .maintitwrap{width:100%;}
.main24 .container .maintitwrap .alldata{align-items:flex-end;width:calc(100% - 280px);height:46px;}
.main24 .container .maintitwrap .alldata li{justify-content:center}
.main24 .container .con .con_l_1wrap{height:332px;}

.main24 .con_l_2wrap .grap{height:178px;overflow:auto;margin:0 30px 30px;padding:0;}
.main24 .list_condition {display:flex;align-items:center;min-height:36px;}
.main24 .list_condition input{margin:0 10px;}
.main24 .list_condition label{display:flex;align-items:center;margin-right:10px;color:#A6A6A6}
.main24 .list_condition select{width:100px;}
.main24 .table{border:0;}
.main24 .table thead tr{background:#F6F6F6;}
.main24 .table th,
.main24 .table td{padding:5px;border:0;}
.main24 .table thead th{color:#545454;background:none;border:0;}
.main24 .table thead tr th:first-child,
.main24 .table thead tr th:last-child{border-radius:5px;}

.main24 .projectwrap .tab-body{height:410px;}