@charset "utf-8";



/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }

/* cm_wrap */
.cm_wrap { position: relative; width: 1780px; margin: 0 auto; }
@media screen and (max-width: 1780px) {
    .cm_wrap { width: 98%; } 
}
@media screen and (max-width: 1240px) {
    .cm_wrap { width: calc(100% - 60px); } 
}
@media screen and (max-width: 1024px) {
    .cm_wrap { width: calc(100% - 50px); } 
}
@media screen and (max-width: 768px) {
    .cm_wrap { width: calc(100% - 40px); } 
}

/* #container */
#container { overflow: hidden; max-width: 100%; padding: 45px 0 30px; background-color: #f8f7f8; line-height: 1.1; }
@media screen and (max-width: 768px) {
    #container { padding: 45px 0 70px; } 
}
#visual { float: left; position: relative; width: calc(100% - 1017px); height: 808px; }
#visual .visual_wrap { overflow: hidden; border-radius: 20px; }
#visual .slide_item { height: 808px; background-repeat: no-repeat; }
#visual .slide_item.visual_01 { background-image: url(../images/visual_web.png); }
#visual .slide_item.visual_02 { background-image: url(../images/visual_web.png); }
#visual .slide_item.visual_03 { background-image: url(../images/visual_web.png); }
#visual .slide_control { position: absolute; bottom: 20px; }
#visual .prev, #visual .next { position: absolute; top: 50%; width: 56px; height: 56px; background: #fff; border-radius: 50px; box-shadow: 0 0 0 0 rgba(14, 31, 68, 0); transition: all 0.2s ease-in-out; }
#visual .prev:hover, #visual .prev:focus, #visual .next:hover, #visual .next:focus { box-shadow: 0 0 17px 0 rgba(14, 31, 68, 0.09); }
#visual .prev::before, #visual .next::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 13px; height: 19px; background: url(../images/sprite.png) no-repeat; transform: translate(-50%, -50%); }
#visual .prev { left: 0; transform: translateX(-50%); }
#visual .prev::before { background-position: -6px -2px; }
#visual .prev:hover::before, #visual .prev:focus::before { background-position: -30px -2px; }
#visual .next { right: 0; transform: translateX(50%); }
#visual .next::before { background-position: -54px -2px; }
#visual .next:hover::before, #visual .next:focus::before { background-position: -78px -2px; }
#visual .slide_control { position: absolute; bottom: 46px; left: 0; width: 100%; text-align: center; }
#visual .slide_control .dots { display: inline-block; vertical-align: middle; }
#visual .slide_control .dots li { float: left; opacity: 0.3; }
#visual .slide_control .dots li.slick-active { opacity: 1; }
#visual .slide_control .dots li:not(:first-child) { margin-left: 13px; }
#visual .slide_control .dots button { overflow: hidden; width: 11px; height: 11px; background: #fff; font-size: 0; color: transparent; }
#visual .slide_control .auto { display: inline-block; width: 12px; height: 11px; margin-left: 13px; background: url(../images/sprite.png) no-repeat; vertical-align: middle; }
#visual .slide_control .auto.pause { background-position: -100px -2px; }
#visual .slide_control .auto.play { display: none; background-position: -120px -2px; }
#visual .visual_text { position: absolute; top: 68px; left: 69px; max-width: 80%; }
#visual .visual_text .main_title span { display: block; text-shadow: 0px 10px 10px rgba(41, 41, 41, 0.05); color: #fff; line-height: 1.1; word-break: keep-all; }
#visual .visual_text .main_title .small { font-family: 'GmarketSansL',serif; font-size: 20px; font-weight: 400; }
#visual .visual_text .main_title .large { margin-top: 11px; font-family: 'GmarketSansB',serif; font-size: 54px; font-weight: 600; letter-spacing: -1px; }
#visual .visual_text .sub_text { margin-top: 11px; font-size: 15px; line-height: 24px; color: rgba(255, 255, 255, 0.9); }
@media screen and (max-width: 1780px) {
    #visual { width: calc(100% - 990px); }
    #visual .visual_text { left: 10%; max-width: 80%; } 
}
@media screen and (max-width: 1400px) {
    #visual { width: 360px; }
    #visual .visual_text .main_title .large { font-size: 50px; } 
}
@media screen and (max-width: 1240px) {
    #visual { width: 100%; height: 548px; }
    #visual .slide_item { height: 548px; background-position: center bottom; background-size: cover; }
    #visual .slide_item.visual_01 { background-image: url(../images/visual_tbl.png); }
    #visual .slide_item.visual_02 { background-image: url(../images/visual_tbl.png); }
    #visual .slide_item.visual_03 { background-image: url(../images/visual_tbl.png); }
    #visual .slide_control { bottom: 28px; }
    #visual .visual_text { left: 6.5%; }
    #visual .visual_text .main_title .large { font-size: 54px; } 
}
@media screen and (max-width: 1024px) {
    #visual { height: 468px; }
    #visual .prev, #visual .next { width: 36px; height: 36px; }
    #visual .slide_item { height: 468px; }
    #visual .visual_text .main_title .small { font-size: 18px; }
    #visual .visual_text .main_title .large { font-size: 46px; }
    #visual .visual_text .sub_text { display: none; } 
}
@media screen and (max-width: 768px) {
    #visual { height: 299px; }
    #visual .prev, #visual .next { display: none !important; }
    #visual .slide_item { height: 299px; }
    #visual .slide_control { bottom: 24px; transform: scale(0.85); transform-origin: center bottom; }
    #visual .slide_control .dots { vertical-align: bottom; }
    #visual .slide_control .dots li:not(:first-child) { margin-left: 10px; }
    #visual .slide_control .auto { position: relative; top: -1px; margin-left: 10px; vertical-align: bottom; }
    #visual .visual_text { top: 38px; left: 30px; }
    #visual .visual_text .main_title .small { font-size: 16px; }
    #visual .visual_text .main_title .large { font-size: 24px; } 
}
@media screen and (max-width: 500px) {
    #visual .slide_item.visual_01 { background-image: url(../images/visual_mob.png); }
    #visual .slide_item.visual_02 { background-image: url(../images/visual_mob.png); }
    #visual .slide_item.visual_03 { background-image: url(../images/visual_mob.png); } 
}

/* contents */
.contents { float: right; width: 964px; }
@media screen and (max-width: 1400px) {
    .contents { width: calc(100% - 390px); padding-top: 10px; } 
}
@media screen and (max-width: 1240px) {
    .contents { width: 100%; margin-top: 55px; padding-top: 0; } 
}
@media screen and (max-width: 1024px) {
    .contents { margin-top: 77px; } 
}
@media screen and (max-width: 768px) {
    .contents { margin-top: 0; } 
}

/* 공지사항 */
.rowgroup .board { float: left; position: relative; padding-top: 12px; width: 500px; }
.rowgroup .board .title_area { display: flex; align-items: flex-end; }
.rowgroup .board .title_area .section_title { font-size: 22px; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 600; color: #232323; letter-spacing: -0.006px; }
.rowgroup .board .title_area .text { margin-left: 17px; padding-right: 20px; font-size: 14px; color: rgba(35, 35, 35, 0.5); letter-spacing: -0.42px; }
.rowgroup .board .list { overflow: hidden; height: 208px; margin-top: 16px; padding: 30px; border-radius: 20px; background-color: #2e527e; }
.rowgroup .board .list a { display: flex; align-items: center; justify-content: space-between; color: #fff; }
.rowgroup .board .list .first { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.rowgroup .board .list .first .date { width: 70px; color: #fff; line-height: 1.1; text-align: center; }
.rowgroup .board .list .first .date .day { font-family: 'Mont Heavy DEMO',serif; font-size: 30px; letter-spacing: -0.45px; }
.rowgroup .board .list .first .date .month { margin-top: 5px; font-family: 'Mont Heavy DEMO',serif; font-size: 15px; letter-spacing: -0.23px; }
.rowgroup .board .list .first .text { position: relative; width: calc(100% - 90px); }
.rowgroup .board .list .first .text span { font-size: 17px; line-height: 26px; letter-spacing: -0.77px; background: url(../images/board_pattern.png) repeat; }
.rowgroup .board .list li:not(.first):not(:first-of-type) { margin-top: 10px; }
.rowgroup .board .list li:not(.first) .text { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: calc(100% - 100px); font-size: 15px; color: #fff; letter-spacing: -0.68px; }
.rowgroup .board .list li:not(.first) .date { font-size: 14px; color: #fff; }
.rowgroup .board .more { position: absolute; top: 17px; right: 3px; width: 14px; height: 14px; background: url(../images/sprite.png) no-repeat; background-position: -202px -2px; }
@media screen and (max-width: 1400px) {
    .rowgroup .board { width: calc(100% - 440px); } 
}
@media screen and (max-width: 1240px) {
    .rowgroup .board { width: calc(100% - 466px); } 
}
@media screen and (max-width: 1024px) {
    .rowgroup .board { width: calc(100% - 365px); padding-top: 0; }
    .rowgroup .board .title_area .section_title { font-size: 18px; }
    .rowgroup .board .title_area .text { font-size: 14px; }
    .rowgroup .board .list { height: 173px; padding: 22px; }
    .rowgroup .board .list .first { margin-bottom: 14px; padding-bottom: 14px; }
    .rowgroup .board .list .first .date .day { font-size: 25px; }
    .rowgroup .board .list .first .date .month { font-size: 15px; }
    .rowgroup .board .list .first .text span { font-size: 16px; line-height: 1.25; }
    .rowgroup .board .list li:not(.first) .text { font-size: 14px; }
    .rowgroup .board .more { top: 5px; } 
}
@media screen and (max-width: 768px) {
    .rowgroup .board { float: none; width: 100%; margin-top: 43px; }
    .rowgroup .board .title_area .section_title { font-size: 16px; }
    .rowgroup .board .title_area .text { display: none; }
    .rowgroup .board .list { height: auto; margin-top: 14px; }
    .rowgroup .board .list .first { margin-bottom: 14px; padding-bottom: 14px; }
    .rowgroup .board .list .first .date { width: 40px; }
    .rowgroup .board .list .first .date .month { font-size: 10px; }
    .rowgroup .board .list .first .text { width: calc(100% - 60px); }
    .rowgroup .board .list .first .text span { font-size: 15px; } 
}

/* 팝업존 */
.rowgroup .popup { float: right; position: relative; width: 424px; padding-top: 9px; }
.rowgroup .popup .slide_item { float: left; }
.rowgroup .popup .slide_item a { display: block; }
.rowgroup .popup .slide_control { display: flex; align-items: center; justify-content: center; position: absolute; top: -9px; right: 21px; width: 140px; height: 34px; border-radius: 16px; background: #fff; box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.08); }
.rowgroup .popup .slide_control .slick-counter { margin-left: 10px; }
.rowgroup .popup .slide_control .slick-counter span { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
.rowgroup .popup .slide_control .slick-counter .current { font-size: 13px; color: #1f1f1f; }
.rowgroup .popup .slide_control .slick-counter .total { position: relative; margin-left: 3px; padding-left: 8px; font-size: 13px; color: #7d7d7d; }
.rowgroup .popup .slide_control .slick-counter .total:before { content: '/'; display: block; position: absolute; top: 50%; left: 0; font-size: 10px; color: #7d7d7d; transform: translateY(-50%); }
.rowgroup .popup .slide_control button { display: block; position: relative; width: 15px; height: 15px; }
.rowgroup .popup .slide_control button.play { display: none; }
.rowgroup .popup .slide_control button:not(:first-of-type) { margin-left: 8px; }
.rowgroup .popup .slide_control button::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; background: url(../images/sprite.png) no-repeat; transform: translate(-50%, -50%); }
.rowgroup .popup .slide_control button.prev::before { width: 7px; height: 12px; background-position: -138px -2px; }
.rowgroup .popup .slide_control button.next::before { width: 7px; height: 11px; background-position: -186px -2px; }
.rowgroup .popup .slide_control button.pause::before { width: 6px; height: 12px; background-position: -154px -2px; }
.rowgroup .popup .slide_control button.play::before { width: 7px; height: 11px; background-position: -170px -2px; }
@media screen and (max-width: 1024px) {
    .rowgroup .popup { width: 350px; padding-top: 0; }
    .rowgroup .popup .slide_control { top: 0; width: 115px; height: 28px; transform: translateY(-50%); } 
}
@media screen and (max-width: 768px) {
    .rowgroup .popup { float: none; width: 100%; max-width: 424px; margin: 37px auto 0; }
    .rowgroup .popup .slide_control button:not(:first-of-type) { margin-left: 3px; } 
}

/* 아이콘 링크 */
.shortcut_icon { display: flex; justify-content: space-between; margin-top: 38px; }
.shortcut_icon li { width: calc(20% - 23px); }
.shortcut_icon li a { display: block; height: 140px; background-color: #fff; border-radius: 20px; border: 2px solid transparent; box-shadow: 0 0 17px 0 rgba(14, 31, 68, 0); transition: all 0.2s ease-in-out; }
.shortcut_icon li a:hover, .shortcut_icon li a:focus { border-color: #cbddee; box-shadow: 0 0 17px 0 rgba(14, 31, 68, 0.09); }
.shortcut_icon li a span { display: block; }
.shortcut_icon li .icon_area { display: flex; align-items: center; justify-content: center; height: 74px; padding-top: 11px; }
.shortcut_icon li .icon_area::before { content: ''; display: block; background: url(../images/sprite.png) no-repeat; transform: translateX(5px); }
.shortcut_icon li .icon_area.icon1::before { width: 58px; height: 35px; background-position: -16px -42px; }
.shortcut_icon li .icon_area.icon2::before { width: 56px; height: 47px; background-position: -96px -36px; }
.shortcut_icon li .icon_area.icon3::before { width: 56px; height: 54px; background-position: -170px -36px; }
.shortcut_icon li .icon_area.icon4::before { width: 58px; height: 44px; background-position: -254px -36px; }
.shortcut_icon li .icon_area.icon5::before { width: 33px; height: 41px; background-position: -346px -36px; }
.shortcut_icon li .text_area { display: flex; align-items: center; justify-content: center; height: 45px; font-size: 16px; font-weight: 500; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; line-height: 22px; color: #222; letter-spacing: -0.4px; }
@media screen and (max-width: 1400px) {
    .shortcut_icon li { width: calc(20% - 10px); } 
}
@media screen and (max-width: 1240px) {
    .shortcut_icon { margin-top: 41px; } 
}
@media screen and (max-width: 1024px) {
    .shortcut_icon li .icon_area::before { transform: scale(0.9) translateX(5px); transform-origin: center; }
    .shortcut_icon li .text_area { font-size: 14px; line-height: 16px; } 
}
@media screen and (max-width: 768px) {
    .shortcut_icon { display: block; margin-top: 43px; }
    .shortcut_icon li { width: 100%; text-align: center; }
    .shortcut_icon li:not(:first-child) { margin-top: 15px; }
    .shortcut_icon li a { display: flex; align-items: center; justify-content: center; height: 64px; }
    .shortcut_icon li span { vertical-align: middle; }
    .shortcut_icon li .icon_area { display: inline-block; height: auto; padding-top: 10px; }
    .shortcut_icon li .icon_area::before { display: inline-block; }
    .shortcut_icon li .icon_area.icon5 { margin-right: 5px; }
    .shortcut_icon li .text_area { display: inline-block; height: auto; }
    .shortcut_icon li .text_area br { display: none; } 
}

/* 강좌신청 */
.lecture { position: relative; margin-top: 48px; }
.lecture .title_area { display: flex; align-items: flex-end; }
.lecture .title_area .section_title { font-size: 22px; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 600; color: #232323; letter-spacing: -0.006px; }
.lecture .title_area .text { margin-left: 17px; font-size: 14px; color: rgba(35, 35, 35, 0.5); letter-spacing: -0.42px; }
.lecture .slide_wrap { margin-top: 20px; padding: 24px 29px; border-radius: 20px; background-color: #fff; }
.lecture .slide_wrap .slick-slide > div:not(:first-child) { margin-top: 22px; }
.lecture .slide_wrap .slide_item a { display: flex; align-items: center; position: relative; height: 100px; border: solid 3px rgba(239, 239, 239, 0); border-radius: 20px; background-color: #f6f6f6; transition: all 0.2s ease-in-out; }
.lecture .slide_wrap .slide_item a:hover, .lecture .slide_wrap .slide_item a:focus { border: solid 3px #efefef; }
.lecture .slide_wrap .slide_item .title { display: flex; align-items: center; overflow: hidden; width: 50%; padding: 0 50px; font-size: 17px; color: #1a1a1a; font-weight: 600; line-height: 24px; letter-spacing: -0.77px; }
.lecture .slide_wrap .slide_item ul { width: calc(50% - 140px); padding-right: 22px; }
.lecture .slide_wrap .slide_item ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; padding-left: 9px; letter-spacing: -0.48px; font-size: 16px; color: #606060; }
.lecture .slide_wrap .slide_item ul li:first-child { margin-bottom: 5px; }
.lecture .slide_wrap .slide_item ul li::before { content: ''; display: block; position: absolute; top: 10px; left: 0; width: 1px; height: 1px; background-color: #606060; }
.lecture .slide_wrap .slide_item ul li strong { font-weight: 500; }
.lecture .slide_wrap .slide_item .state { position: absolute; top: 13px; right: 22px; width: 110px; height: 73px; margin-top: 0; border-radius: 20px; font-size: 17px; font-weight: 600; color: #fff; text-align: center; line-height: 73px; }
.lecture .slide_wrap .slide_item .state.ing { background-color: #0fb2e8; }
.lecture .slide_wrap .slide_item .state.fin { background-color: #7b7b7b; }
.lecture .slide_control { display: flex; align-items: center; justify-content: center; position: absolute; top: 0; right: 0; width: 140px; height: 34px; border-radius: 16px; background: #fff; }
.lecture .slide_control .slick-counter { margin-left: 10px; }
.lecture .slide_control .slick-counter span { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
.lecture .slide_control .slick-counter .current { font-size: 13px; color: #1f1f1f; }
.lecture .slide_control .slick-counter .total { position: relative; margin-left: 3px; padding-left: 8px; font-size: 13px; color: #7d7d7d; }
.lecture .slide_control .slick-counter .total:before { content: '/'; display: block; position: absolute; top: 50%; left: 0; font-size: 10px; color: #7d7d7d; transform: translateY(-50%); }
.lecture .slide_control button { display: block; position: relative; width: 15px; height: 15px; }
.lecture .slide_control button.play { display: none; }
.lecture .slide_control button:not(:first-of-type) { margin-left: 8px; }
.lecture .slide_control button::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; background: url(../images/sprite.png) no-repeat; transform: translate(-50%, -50%); }
.lecture .slide_control button.prev::before { width: 7px; height: 12px; background-position: -138px -2px; }
.lecture .slide_control button.next::before { width: 7px; height: 11px; background-position: -186px -2px; }
.lecture .slide_control button.pause::before { width: 6px; height: 12px; background-position: -154px -2px; }
.lecture .slide_control button.play::before { width: 7px; height: 11px; background-position: -170px -2px; }
@media screen and (max-width: 1400px) {
    .lecture .slide_wrap .slide_item .title { width: 40%; padding: 0 25px; }
    .lecture .slide_wrap .slide_item ul { width: calc(60% - 140px); } 
}
@media screen and (max-width: 1240px) {
    .lecture { margin-top: 49px; } 
}
@media screen and (max-width: 1024px) {
    .lecture { margin-top: 74px; }
    .lecture .title_area .section_title { font-size: 18px; }
    .lecture .title_area .text { font-size: 14px; }
    .lecture .slide_wrap { padding: 18px 23px; }
    .lecture .slide_wrap .slide_item a { height: 76px; }
    .lecture .slide_wrap .slide_item .title { font-size: 15px; }
    .lecture .slide_wrap .slide_item ul { width: calc(60% - 100px); }
    .lecture .slide_wrap .slide_item ul li { font-size: 14px; }
    .lecture .slide_wrap .slide_item ul li::before { top: 11px; }
    .lecture .slide_wrap .slide_item .state { top: 8px; right: 13px; width: 83px; height: 55px; line-height: 55px; font-size: 15px; border-radius: 10px; }
    .lecture .slide_control { width: 115px; height: 28px; box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.08); } 
}
@media screen and (max-width: 768px) {
    .lecture { margin-top: 68px; }
    .lecture .title_area .section_title { font-size: 16px; }
    .lecture .title_area .text { display: none; }
    .lecture .slide_wrap { padding: 14px; }
    .lecture .slide_wrap .slide_item a { display: block; height: auto; padding: 25px 20px 16px; }
    .lecture .slide_wrap .slide_item a .title { display: block; width: 100%; padding: 0; line-height: 20px; }
    .lecture .slide_wrap .slide_item a ul { display: block; width: 100%; margin-top: 14px; }
    .lecture .slide_wrap .slide_item a .state { position: static; width: 100%; height: 52px; margin-top: 17px; line-height: 52px; }
    .lecture .slide_control { top: -5px; }
    .lecture .slide_control button:not(:first-of-type) { margin-left: 3px; } 
}
