@charset "utf-8";
.main {background:#F6F6F6 url(../images/main/main_bg.svg) no-repeat -20px 40px;}
.main.colwidewrap{justify-content:flex-start;}

/* 공통 */
.con{display:flex;flex-direction:column;padding:2.8rem 2rem;width:100%;}
.con .box{height:100%;border-radius:10px;background:#fff;}

.mico{position:relative;display:inline-block;width:44px;height:44px;border-radius:10px;}
.mico:before{content: "";display:block;position:absolute;top:50%;left:50%;}
.bg_w{background:#fff;}

.con .box{display:flex;align-items:center;justify-content:space-between;}
.con .box.line{border:1px solid}
.con .box.padd{padding:2rem;}

.row{display:flex;flex-direction:row;align-items:flex-start;justify-content:space-between;}
.col{display:flex;flex-direction:column; align-items:flex-start;justify-content:space-between;}

/* 제목wrap */
.titwrap{display:flex;justify-content:space-between;width:100%;}
.titwrap h2{color:#182869;font-size:15px;font-weight:bold;line-height:1.3;}
.titwrap.bn_qs {justify-content: flex-start;margin-bottom:10px;border-bottom:0;}
.titwrap.bn_qs button{padding:0;border:0;background:none}

/* maintitwrap  */
.weather{display:flex;justify-content:space-between;align-items:flex-end;width:100%;font-family: 'GmarketSansM';color:#333;font-size:15px;}
.weather .day{display:inline-flex;align-items:center;padding:0 10px;font-family: 'GmarketSansM';}
.weather .day span{font-family: 'GmarketSansL';}
.weather .lcon {display:flex;align-items:center;}
.weather .lcon b{display:inline-block;padding:5px 8px;border:1px solid #A6A6A6;color:#333;border-radius:100px;font-size:11px;line-height:1;font-family: 'GmarketSansB'}
.weather .rcon {display:flex;flex-direction:column;}
.weather .rcon b{display:flex;align-items:center;font-size:18px;}
.weather .rcon .weather_ico{display:inline-block;width:35px;height:30px;margin:0 4px 4px 8px;background: url(../images/common/weather_ir.svg); text-indent:-999px;overflow:hidden;}
.weather .rcon .weather_ico.ico1{background-position:0 0;}

.maintitwrap{display:flex;flex-direction:column;width:100%;padding:10px 24px 60px;color:#182869}
.maintitwrap .alldata{display:flex;justify-content:space-between;gap:8px;margin-top:14px;}
.maintitwrap .alldata .itemwrap{display:flex;flex-direction:column;gap:8px;width:50%;}
.maintitwrap .alldata .item{display:flex;justify-content:space-between;gap:8px;position:relative;height:100%;padding:.6rem .8rem;border-radius:10px;background:#fff;}
.maintitwrap .alldata .item.fir{flex-direction:column;gap:95px;width:50%;padding:7%;background:#388AEB;color:#fff;}
.maintitwrap .alldata .item.fir strong{flex-direction:column;align-items:flex-start;}
.maintitwrap .alldata .item .num{font-size:26px;font-weight:bold;line-height:1;font-family:'GmarketSansB';}
.maintitwrap .alldata .item .num span{font-size:14px;font-weight:normal;line-height:1}
.maintitwrap .alldata .item.fir div{display:flex;flex-direction:column;justify-content:flex-end;}
.maintitwrap .alldata .item.fir div .num,
.maintitwrap .alldata .item.fir div ul{display:flex;justify-content:flex-end;align-items:flex-end;margin-top:5px;}

.maintitwrap .alldata .item .mico{background:#fff;}
.maintitwrap .alldata .item .mico.ico1{background:#182869}
.maintitwrap .alldata .item .mico.ico2{background:#00C5FF}
.maintitwrap .alldata .item .mico.ico3{background:#0057FF}
.maintitwrap .alldata .item .mico.ico4{background:#F66D6D}
.maintitwrap .alldata .item .mico.ico5{background:#46CE9B}
.maintitwrap .alldata .item .mico.ico1:before{margin:-25px 0 0 -26px;width:50px;height:50px;background: url(../images/main/ico_tit1_1_1.svg);}
.maintitwrap .alldata .item .mico.ico2:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_2.svg);}
.maintitwrap .alldata .item .mico.ico3:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_3.svg);}
.maintitwrap .alldata .item .mico.ico4:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_4.svg);}
.maintitwrap .alldata .item .mico.ico5:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_5.svg);}

.maintitwrap .alldata .item ul{display:flex;flex-direction:row;align-items:center;}
.maintitwrap .alldata .item ul li{display:flex;flex-direction:row;align-items:center;width:auto;padding:0 0 0 10px;}
.maintitwrap .alldata .item strong{display:flex;align-items:center;gap:10px;}
.maintitwrap .alldata .item strong b{display:inline-block;padding-bottom:2px;font-size:14px;font-weight:bold;line-height:1.2}
.maintitwrap .alldata .item strong span{font-weight:bold;font-family:'GmarketSansB';font-size:17px;line-height:1;}
.maintitwrap .alldata .item li b{display:inline-block;font-weight:normal;font-size:14px;}
.maintitwrap .alldata .item li span{margin:2px 2px 0;font-size:13px;font-family:'GmarketSansB';line-height:0;}


.con14 .maintitwrap .alldata{flex-direction:column;}
.con14 .maintitwrap .alldata .item{align-items:center;width:100%;padding:1.2rem 1.8rem;}
.con14 .maintitwrap .alldata .date{display:flex;justify-content:space-between;padding:15px 0 0;font-weight:bold}
.con14 .maintitwrap .alldata .date li{position:relative;display:flex;align-items:flex-start;padding-left:8%;}
.con14 .maintitwrap .alldata .date li:before{content:"";position:absolute;top:50%;left:0;display:block;width:1px;height:16px;margin-top:-8px;background:#D9D9D9}
.con14 .maintitwrap .alldata .date li:first-child{padding-left:0;}
.con14 .maintitwrap .alldata .date li:first-child::before{display:none;}
.con14 .maintitwrap .alldata .date li b{font-weight:bold;}
.con14 .maintitwrap .alldata .date .num{display:flex;align-items:flex-start;padding-left:10px;font-size:15px;font-family:'GmarketSansB';}
.con14 .maintitwrap .alldata .date .num span{margin-top:4px;font-size:15px;font-weight:normal;line-height:1;}
.con14 .maintitwrap .alldata .item strong{position:relative;padding-right:14px;gap:14px;}
.con14 .maintitwrap .alldata .item strong:after{content:"";display:block;position:absolute;right:0;width:1px;height:23px;background:#EDEDED}


/* 프로젝트리스트 */
.projectlist{overflow:hidden;}
.projectlist .titwrap{padding:0 2rem 1rem;}
.projectlist .titwrap h2{padding-left:30px;color:#545454;background:url(../images/main/ico_titico_n1.svg) no-repeat 0 50%;}
.projectlist .list{display:flex;flex-direction:row;gap:.5rem;margin:0;background:#182869;}
.projectlist li{display:flex;flex-direction:column;align-items:center;justify-content:space-between;width:9rem;padding:1rem 1rem;border:1px solid #fff;background:#fff;border-radius:10px;}
.projectlist .lcon,
.projectlist .rcon{width:100%;}
.projectlist .lcon strong{display:block;margin-bottom:3px;font-size:1rem;font-weight:bold;color:#535353;line-height: 1.4rem;}
.projectlist .rcon{display:flex;align-items:center;}
.projectlist .rcon .state {display:flex;align-items:center;margin-top:1.4rem;}
.projectlist .rcon .state .rate{margin-right:10px;}
.projectlist .rcon .state b{position:relative;padding-right:10px}
.projectlist .rcon .state.rate_ready *{color:#AFAFAF}
.projectlist .rcon .state.rate_ing *{color:#0057FF}
.projectlist .rcon .state.rate_end *{color:#00C5FF}


/* 인력관리현황 */
.con.personinfo .titwrap{width:60px;margin:10px 0 0;text-align:center;}
.con.personinfo .titwrap.icotit:before{left:50%;margin-left:-24px;}
.personinfo .txtwrap{width:calc(100% - 80px);}
.personinfo .txtwrap table{border-spacing:4px;border-collapse:separate;margin:0;padding:0;}
.personinfo .txtwrap table,
.personinfo .txtwrap table th,
.personinfo .txtwrap table td{padding:4px;border:0;border-radius:5px;}
.personinfo .txtwrap table th{color:#9B9B9B;background:#EDEDED;}
.personinfo .txtwrap table td{background:#F6F6F6;color:#545454;font-size:14px;font-family: 'GmarketSansB';}
.personinfo .txtwrap table thead th:first-child{background:#F6F6F6;}























.con .grap{padding:0 30px 30px;}
.con .grap img{max-height:100%;}

.tabwrap .titwrap{padding:20px 30px;border-bottom:1px solid #E2E8FB}
.tabwrap {justify-content: flex-start!important;}
.tabwrap .tab-nav{position:relative;display:flex;border-radius:5px;overflow:hidden;}
.tabwrap .tab-nav_link{display:inline-block;margin: 0;vertical-align:bottom;border:1px solid #EDEDED;border-left:0;}
.tabwrap .tab-nav_link:first-child{border-left:1px solid #EDEDED;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.tabwrap .tab-nav_link:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.tabwrap .tab-nav_link span{position:relative;display:inline-block;padding: 6px 15px 6px 25px;font-size:15px;color: #939393;}
.tabwrap .tab-nav_link span:before{content:"";display:block;position:absolute;left:12px;top:50%;width:8px;height:8px;margin-top:-4px;background:#AFAFAF;border-radius:100%;}
.tabwrap .tab-nav_link:nth-of-type(1) span{padding: 6px 15px;}
.tabwrap .tab-nav_link:nth-of-type(1) span:before{display:none;}
.tabwrap .tab-nav_link:nth-of-type(3) span:before{background:#0057FF}
.tabwrap .tab-nav_link:nth-of-type(4) span:before{background:#46CE9B}
.tabwrap .tab-nav_link.active span{color: #fff;padding: 6px 15px;background:#0057FF}
.tabwrap .tab-nav_link.active span:before{display:none;}
.tabwrap .tab-nav_link:nth-of-type(1).active{border-left:0}
.tabwrap .tab-nav_link:nth-of-type(2).active span{background:#AFAFAF}
.tabwrap .tab-nav_link:nth-of-type(3).active span{background:#0057FF}
.tabwrap .tab-nav_link:nth-of-type(4).active span{background:#46CE9B}
.tabwrap .tab-body{display:none;width:100%;height: 411px;margin-top: 0;position:relative;overflow:auto;margin:6px 0 20px;}
.tabwrap .tab-body.active{display:block}
.adr{position:relative;padding-left:16px;color:#AFAFAF}
.adr:after{content:"";display:block;position:absolute;left:0;top:4px;;display:inline-block;width:12px;height:17px;background:url(../images/common/ico_adress.svg) no-repeat}


/* 준공 */
.completionwrap .titwrap{flex-direction:column;align-items: flex-start;border-bottom:0;}
.completionwrap .titwrap h3{position:relative;padding-top:50px;}
.completionwrap .titwrap h3:after{content:"";position:absolute;left:0;top:0;display:block;width:66px;height:48px;background:url(../images/main/ico_completion.svg) no-repeat;}
.completionwrap ul{width:100%;padding:10px 40px 40px;}
.completionwrap ul li{display:flex;justify-content:space-between;align-items:center;padding-left:35%;padding-top:4px;color:#182869}
.completionwrap ul li b{display:inline-block;width:110px;}
.completionwrap ul li b span{display:inline-block;padding:2px 3px;margin-left:2px;border:1px solid #8B94B4;color:#182869;font-size:11px;border-radius:2px;line-height:1;}
.completionwrap ul li .num{display:inline-block;padding:4px 7px;border-radius:5px;color:#fff;background:#1A3B97;font-family: 'GmarketsansB';font-size:12px;line-height:1}

/* 아이콘타이틀 */
.icotit{position:relative;padding-top:58px;}
.icotit:before{content:"";display:block;position:absolute;left:0;top:0;width:48px;height:48px;border-radius:10px;background-repeat:no-repeat;}
.icotit.ico1:before{background-image:url(../images/main/ico_titico1.svg);}
.icotit.ico2:before{background-image:url(../images/main/ico_titico2.svg);}
.icotit.ico3:before{background-image:url(../images/main/ico_titico3.svg);}
.icotit.ico4:before{background-image:url(../images/main/ico_titico4.svg);}
.icotit.ico5:before{background-image:url(../images/main/ico_titico5.svg);}
.icotit.ico6:before{background-image:url(../images/main/ico_titico6.svg);}

.icotit h3{color:#5C88FD;font-weight:normal;font-size:15px;}

.iconews{display:flex;flex-direction:row;align-items:flex-start!important;position:relative;padding:36px 30px; }
.iconews .icotit {width:150px;}
.iconews .news {width:100%;}
.iconews .news li{display:flex;justify-content:space-between;position:relative;width:100%;padding-left:12px;margin-bottom:4px;color:#182869;}
.iconews .news li:before{content:"";position:absolute;left:0;top:50%;display:block;width:3px;height:3px;margin-top:-1px;background:#0057FF;border-radius:10px;}
.iconews .news li .date{color:#A5AECA}

.bn_more{position:absolute;left:30px;bottom:35px;display:flex;align-items:center;}
.bn_more:before{content:"";display:block;width:10px;height:10px;margin-right:4px;background:url(../images/main/ico_plus.svg);}

/* 서류결제 */
.settlement {margin:0 30px}
.settlement dt{margin:30px 0 10px;padding-left:30px;color:#182869;font-weight:bold;background:url(../images/main/ico_company.svg) no-repeat}
.settlement dd{display:flex;justify-content:space-between;width:100%;color:#182869;}
.settlement dd .cate{position:relative;display:inline-block;width:100px;padding-left:20px;margin-right:4px;color:#4470F3;font-size:14px;background:url(../images/main/ico_file.svg) no-repeat 0 50%;}
/* .settlement dd .cate:after{content:"";display:block;position:absolute;right:0;top:50%;width:1px;height:14px;margin-top:-7px;background:#A9C7FF } */
.settlement dd .date{color:#AAB3C4}
/* 공통 end */






.con_top{height:130px;gap:20px;}

.con_top .con_top_r{width:25%;padding:20px 50px;color:#fff;background:#3A78F2;}
.con_top .con_top_r h3{display:flex;align-items:center;gap:10px;color:#fff}
.con_top .con_top_r h3 .mico{background:#fff;}
.con_top .con_top_r h3 .mico:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_2.svg);}
.con_top .con_top_r li{display:flex;align-items:center;justify-content:space-between;gap:20px;}
.con_top .con_top_r li span{font-weight:bold;font-family:'mont';}

.con_mid{height:490px;gap:20px;}
.con_mid .con_mid_ㅣ{width:38.6%;}
.con_mid .projectwrap{width:61.4%;}
.con_mid .con_mid_ㅣ img{width:100%;height:100%;}


/* 완료률 */
.rate{display:inline-block;width:44px;height:44px;background-repeat:no-repeat;background-position:0 50%;font-family:'GmarketSansB';font-size:.5rem;line-height:3rem;text-align:center;}
.rate0{background-image:url(../images/main/rate0.svg);}
.rate10{background-image:url(../images/main/rate10.svg);}
.rate20{background-image:url(../images/main/rate20.svg);}
.rate30{background-image:url(../images/main/rate30.svg);}
.rate40{background-image:url(../images/main/rate40.svg);}
.rate50{background-image:url(../images/main/rate50.svg);}
.rate60{background-image:url(../images/main/rate60.svg);}
.rate70{background-image:url(../images/main/rate70.svg);}
.rate80{background-image:url(../images/main/rate80.svg);}
.rate90{background-image:url(../images/main/rate90.svg);}
.rate100{background-image:url(../images/main/rate100.svg);}

.projectlist .rcon button.onlybn{width:28px;height:28px;padding:0 4px;justify-content: center;border:2px solid #E2E8FB}
.projectlist .rcon button.onlybn .ico.bi-arr{width:8px;height:11px;background-image:url(../images/main/ico_arr_b.svg);}
.projectlist li:hover .rcon button.onlybn{background:#0057FF;border-color:#0057FF}
.projectlist li:hover .rcon button.onlybn .ico.bi-arr{background-image:url(../images/main/ico_arr_w.svg);}


.main #footer{position:static;}
.main #footer p{justify-content:left;}


/* 25 dashborad 시스템관리자 */
.main25 .container{flex-direction:row;}
.main25 .container .con_l{width:62%;gap:20px;}
.main25 .container .con_r{width:38%;gap:20px;}
.main25 .container .con{flex-direction:column;}
.main25 .container .con .box{height:auto}

.main25 .container .con .box.maintitwrap{width:100%;height:160px;}
.main25 .container .maintitwrap .alldata{align-items:flex-end;height:46px;gap:30px;}
.main25 .container .maintitwrap .alldata li{justify-content:center}
.main25 .container .con .con_l_1wrap{height:330px;}
.main25 .container .con .titwrap{padding:30px 30px 20px;}

.main25 .con_l_2wrap .grap{height:178px;overflow:auto;margin:0 30px 30px;padding:0;}
.main25 .list_condition {display:flex;align-items:center;min-height:36px;}
.main25 .list_condition input{margin:0 10px;}
.main25 .list_condition label{display:flex;align-items:center;margin-right:10px;color:#A6A6A6}
.main25 .list_condition select{width:100px;}
.main25 .table{border:0;}
.main25 .table thead tr{background:#F6F6F6;}
.main25 .table th,
.main25 .table td{padding:5px;border:0;}
.main25 .table thead th{color:#545454;background:none;border:0;}
.main25 .table thead tr th:first-child,
.main25 .table thead tr th:last-child{border-radius:5px;}

.main25 .projectwrap .tab-body{height:396px;}



/* 31 dashborad_감리시공회사모니터링 */
.main31 .maintitwrap{width:72.4%}
.main31 .con_top .con_top_c{width:18%}
.main31 .con_top .con_top_r{flex-direction:column;align-items:flex-start;justify-content:center;gap:10px;width:8%;padding:20px;background:#0057FF;font-weight:bold;}
.main31 .con_top .con_top_r i{width:25px;height:24px;background:url(../images/main/ico_add.svg)}

.main31 .completionwrap .titwrap{padding:0 0 0 20px;}
.main31 .completionwrap ul{padding:0 20px 0 0;}
.main31 .completionwrap ul li{padding:0;}

.main31 .con_mid .con_mid_ㅣ{width: 27%;}
.main31 .con_mid .projectwrap{width: 46%;}
.main31 .con_mid .con_mid_r{display:flex;flex-direction:column;gap:20px;width:27%;}



/* 인력관리현황 */
.main31 .con_mid .con_mid_r_wrap1{gap:24px;height:114px;padding:18px 30px;}
.main31 .con_mid .con_mid_r_wrap1 .list{position:relative;width:100%;height:50px;margin-right:80px;padding: 30px 0 0 ;color:#182869;}
.main31 .con_mid .con_mid_r_wrap1 .list li strong{position:absolute;}
.main31 .con_mid .con_mid_r_wrap1 .list li span{position:relative;display:inline-block;padding:6px;margin-top:1px;font-family:'GmarketSansB';font-size:12px;color:#fff;background:#182869;border-radius:5px;line-height:1;}
.main31 .con_mid .con_mid_r_wrap1 .list li span:after{content:"";display:block;position:absolute;top: 24px;left:50%;height:0;margin-left:-4px;border:4px solid transparent;border-top-color:#182869;}
.main31 .con_mid .con_mid_r_wrap1 .list .off span{color:#182869;background:#D9D9D9}
.main31 .con_mid .con_mid_r_wrap1 .list .off span:after{border-top-color:#D9D9D9;}

.main31 .con_mid .con_mid_r_wrap1 .list .on strong{display:flex;flex-direction: row-reverse; align-items:center;gap:4px;left:0;top:0;}
.main31 .con_mid .con_mid_r_wrap1 .list .off strong{display:flex;align-items:center;gap:4px;right:0;top:0;}
.main31 .con_mid .con_mid_r_wrap1 .list .total{position:absolute;right:-80px;text-align: right;}
.main31 .con_mid .con_mid_r_wrap1 .list:before{content:"";position: absolute;bottom: 0; display:block;width:100%;height:8px;background:#D9D9D9;border-radius:10px;}

.main31 .con_mid .con_mid_r_wrap1 .list .on .bar{position: absolute;top:42px;left:0; display:block;width:100%;height:8px;background:#182869;border-radius:10px;}

.main31 .con_mid .con_mid_r_wrap1 .list .total span{color:#182869;font-size:16px;background:none}
.main31 .con_mid .con_mid_r_wrap1 .list .total span:after{display:none;}



/* 인력리스트 */
.main31 .con_mid .con_mid_r_wrap2{height:357px;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-nav_link span{padding:6px 15px;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-nav_link span:before{display:none;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-body{height:256px;}
.main31 .con_mid .con_mid_r_wrap2 .list{margin:26px 30px; }
.main31 .con_mid .con_mid_r_wrap2 .list li{display:flex;justify-content:space-between;align-items:center;padding-bottom:12px;}
.main31 .con_mid .con_mid_r_wrap2 .list li .adr{width:150px;}
.main31 .con_mid .con_mid_r_wrap2 .list li .name{font-weight:bold;color:#182869}
.main31 .con_mid .con_mid_r_wrap2 .list li .num{color:#182869}

.main31 .con_bottom{height:290px}
.main31 .con_bottom .con_bottom_1wrap{width:27%}
.main31 .con_bottom .con_bottom_2wrap{width:46%}
.main31 .con_bottom .con_bottom_3wrap{width:27%;}


/* 35 dashboard_시공자감리원 */
.main35 .maintitwrap{width:76.4%}
.main35 .con_top .con_top_r{width:27.6%;justify-content: center;}
.main35 .con_top .con_top_r b{padding:5px 0 0 10px;font-size:28px;font-family:'GmarketsansB'}
.main35 .con_top .con_top_r h3 .mico:before{background-image:url(../images/main/ico_tit1_6.svg);}

.main35 .con_mid .con_mid_ㅣ{width: 27%;}
.main35 .con_mid .projectwrap{width: 46%;}
.main35 .con_mid .con_mid_r{display:flex;flex-direction:column;width:27%;}
.main35 .con_mid .con_mid_r .titwrap{padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.main35 .con_mid .con_mid_r .titwrap .input_row{flex-grow:0;}
.main35 .con_mid .con_mid_r .wrap{width:100%;height:100%;margin:0 0 26px; overflow: auto;}

.main35 .con_bottom .con_bottom_1wrap {width:73.3%;}
.main35 .con_bottom_2wrap {width:26.7%;}

.main35 .con_bottom .con_bottom_1wrap{position:relative;align-items:flex-start;}
.main35 .con_bottom .con_bottom_1wrap .titwrap{flex-direction:column;align-items:flex-start;width:250px;padding-right:0;}
.main35 .con_bottom .con_bottom_1wrap .titwrap .input_row{width:100%;padding-top:10px;flex-grow:0;}
.worklist {display:flex;gap:20px;width:100%;margin:30px 30px;}
.worklist li{width:25%;border: 1px solid #E2E8FB;border-radius:10px;}
.worklist strong{display:block;width:100%;padding:10px 16px 10px 44px;color:#182869;background:url(../images/main/ico_company.svg) no-repeat 14px 50%;border-bottom:1px solid #E2E8FB}
.worklist div{width:100%;padding:13px 16px;color:#182869;}
.worklist div .company{display:inline-block;padding:3px 4px;border:1px solid #A9C7FF;border-radius:3px;color:#5C88FD;font-size:14px;line-height:1;}
.worklist div .person{position:relative;display:block;padding:4px;}
.worklist div .person span{position:relative;display:inline-block;padding-left:10px;margin-left:10px}
.worklist div .person span:after{content:"";display:block;position:absolute;left:0;top:50%;width:1px;height:14px;margin-top:-7px;background:#A9C7FF }
.worklist div ul li{width:100%;padding-left:4px;border:0;color:#A6A6A6;line-height:1.4}


/* 서브메인 */
.submain{display:flex;padding:60px 40px 60px 60px;gap:20px;}
.submain .con_l{flex-direction:column;gap:20px;}

.submain .con_l .projectlist{justify-content:flex-start;width:100%;height:517px;padding:30px 0;}
.submain .con_l .projectlist .wrap{width:100%;height:100%;overflow:auto;}
.submain .con_l .projectlist .wrap .list li{padding:17px 26px}
.submain .con_l .projectlist .wrap .list .date{padding:0 30px;color:#182869;background:url(../images/main/ico_calendar.svg) no-repeat 0 50%;}
.submain .con_l .projectlist .wrap .list .cate{padding:0 30px;color:#182869;}

.submain .con_l .projectlist .titlist{width:93%;padding:0;margin:0 auto; border: 1px solid #D9D9D9;}
.submain .con_l .projectlist .titlist .tit{display:flex;align-items:center;justify-content:space-between;padding:20px 30px;border-bottom:1px solid #D9D9D9;border-top:0;background:#fff;}
.submain .con_l .projectlist .titlist .tit .state{margin-right:10px;}
.submain .con_l .projectlist .titlist .tit .state b:before{display:none;}
.submain .con_l .projectlist .titlist .tit .state span{font-size:20px;font-family: 'GmarketSansB';}
.submain .con_l .projectlist .titlist .wrap{height:370px;}
.submain .con_l .projectlist .titlist .wrap .list{margin:0;background:#FCFCFC}
.submain .con_l .projectlist .titlist .wrap .list li{width:auto;margin:0 30px;padding:17px 20px}
.submain .con_l .projectlist .titlist li:hover{border-width:1px;border-style:solid;border-color:#A9C7FF transparent  transparent;border-radius:0;}
.submain .con_l .projectlist .titlist li strong{font-weight:normal;}

.submain .con_r{flex-direction:column;width:46%;gap:20px;}
.submain .con_r .titwrap{padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.submain .con_r .titwrap .input_row{flex-grow:0;}
.submain .con_r .wrap{width:100%;height:100%;margin:26px 0 26px; overflow: auto;}
.submain .con_r .wrap dd{padding:4px 0}

.submain .con_r .con_r_1wrap {height:252px;}
.submain .con_r .con_r_2wrap {height:217px;}
.submain .con_r .con_r_3wrap {height:372px;}
.submain .con_r .con_r_4wrap {height:258px;}
.submain .con_r .con_r_5wrap {height:auto;}

.submain .con_r .con_r_1wrap .titwrap{border-bottom:0;}
.submain .con_r .con_r_2wrap,
.submain .con_r .con_r_3wrap,
.submain .con_r .con_r_4wrap {position: relative;}
.submain .con_r .con_r_2wrap .bn_more,
.submain .con_r .con_r_3wrap .bn_more,
.submain .con_r .con_r_4wrap .bn_more{bottom:auto;left:auto;right:30px;top:24px;}

.submain .con_r .con_r_3wrap .wrap,
.submain .con_r .con_r_4wrap .wrap{height:100%;margin:20px 0 28px;overflow:auto;}

.submain .con_r .con_r_4wrap li{width:100%;padding:4px 30px 4px;}
.submain .con_r .con_r_4wrap li{display:flex;justify-content:space-between;color:#747EA5}
.submain .con_r .con_r_4wrap li .name{color:#182869}
.submain .con_r .con_r_4wrap li .company{width:100px;}
.submain .con_r .con_r_4wrap li .position{width:40px;}

.submain .con_r .con_r_3wrap .worklist{flex-direction: column;width:auto;margin:0 30px;gap:10px;}
.submain .con_r .con_r_3wrap .worklist li {position:relative;width:100%;}
.submain .con_r .con_r_3wrap .worklist li .company{position:absolute;right:20px;top:20px;}

.submain.main52 .con{flex-direction:column;justify-content:flex-start;gap:20px;}
.submain.main52 .con .box{flex-direction:column;justify-content:flex-start;align-items:flex-start;position:relative;}
.submain.main52 .con .box h3{width:100%;padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.submain.main52 .con .box ul{color:#747EA5}
.submain.main52 .con .box .wrap{width:100%;height:calc(100% - 91px);overflow:auto;}
.submain.main52 .con .box .grap{width:100%;padding:26px 30px;}
.submain.main52 .con .box .list{display:flex;flex-direction:column;gap:8px;}
.submain.main52 .con .box .list li{display:flex;justify-content:space-between;align-items:center;width:100%;}
.submain.main52 .con .box .list .num{color:#182869;font-family: 'GmarketSansM';font-size:13px;}
.submain.main52 .con .box .btn{position:absolute;right:30px;top:20px;}
.submain.main52 .con_l{width:33.3%}
.submain.main52 .con_l .wrap1{height:616px}
.submain.main52 .con_l .wrap2{height:225px}
.submain.main52 .con_l .wrap3{height:548px}
.submain.main52 .con_m{width:33.3%}
.submain.main52 .con_m .wrap1,
.submain.main52 .con_m .wrap2{height:155px}
.submain.main52 .con_m .wrap3{height:266px}
.submain.main52 .con_m .wrap4{height:225px}
.submain.main52 .con_m .wrap5{height:327px}
.submain.main52 .con_m .wrap6{height:200px}
.submain.main52 .con_r{width:33.3%}
.submain.main52 .con_r .wrap1{height:616px}
.submain.main52 .con_r .wrap2{height:791px}

.submain.main52 .con_l .wrap1 .icotit{display:block;padding:0 0 0 68px;color:#182869;font-weight:bold}
.submain.main52 .con_l .wrap1 .icotit b{display:block;font-weight:normal}
.submain.main52 .con_l .wrap1 .grap {padding-bottom:0;}
.submain.main52 .con_l .wrap1 .grap .col2ul{padding:20px 0 30px 68px;}

.col2ul.bott_line {border-bottom:1px solid #D9D9D9}
.col2ul{width:100%;}
.col2ul:after{content:"";display:block;clear:both}
.col2ul li{float:left;width:50%;padding:2px 0;color:#747EA5}
.col2ul li.wide{flex-grow:0;width:100%;}
.col2ul li b{display:inline-block;padding-right:10px;color:#182869}

.submain.main52 .con_l .wrap2 ul{display:flex;justify-content:center;width:100%;padding:30px 40px 0;gap:15%;}
.submain.main52 .con_l .wrap2 ul li{display:flex;flex-direction:column;align-items:center;gap:6px;}
.submain.main52 .con_l .wrap2 ul li b{position:relative;padding-top:40px;color:#182869}
.submain.main52 .con_l .wrap2 ul li b:before{content:"";display:block;position:absolute;top:0;left:50%;width:33px;height:32px;margin-left:-16px;background:url(../images/main/ico_mainico1.svg)}
.submain.main52 .con_l .wrap2 ul li b.ico2:before{background:url(../images/main/ico_mainico2.svg)}
.submain.main52 .con_l .wrap2 ul li b.ico3:before{background:url(../images/main/ico_mainico3.svg)}

.submain.main52 .con_l .wrap3 .wrap{padding:30px;}
.submain.main52 .con_l .wrap3 .wrap_item{margin-bottom:22px;border:1px solid #E2E8FB;border-radius:10px;}
.submain.main52 .con_l .wrap3 .wrap_item strong{display:block;padding:18px 20px;background-color:#FCFCFC;border-bottom:1px solid #E2E8FB}
.submain.main52 .con_l .wrap3 .wrap_item strong b{margin-right:10px;}
.submain.main52 .con_l .wrap3 .wrap_item .col2ul{padding:22px 30px;}

.ico_company{position:relative;margin:30px 0 10px;padding-left:30px;color:#182869;}
.ico_company:before{content:"";display:block;position:absolute;left:0;top:0;width:24px;height:24px;background:url(../images/main/ico_company.svg) no-repeat}
.g_compay{display:inline-block;padding:2px 6px;background:#fff;border:1px solid #A9C7FF;color:#5C88FD;font-size:14px;}

.submain.main52 .con_m .wrap4 .list .wrap_item {align-items:flex-start;margin-bottom:22px;padding:20px;border:1px solid #E2E8FB;border-radius:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div{display:flex;flex-direction:column;justify-content:flex-end;text-align:right;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span{margin-left:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span.ceo b{position:relative;padding-right:10px;margin-right:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span.ceo b:after{content:"";position:absolute;right:0;top:50%;display:block;width:1px;height:12px;margin-top:-6px;background:#A6A6A6}