/* layout */
html, body, .wrapper{min-height:100%;}
/* .container{display:flex;justify-content: space-between;} */
.container::after{content:"";display:block;clear:both;}
/* header */
#header{display:block;padding:0 1.4%;background: #162252;}
h1.logo{position:absolute;top:20px;left:30px;display:flex;align-items:center;}
h1.logo a {display:block;width:127px;height:34px;background: url(../images/common/logo.svg) no-repeat;}

#header .inner{width:100%;display:flex;justify-content:space-between;align-items:center;padding-left:200px;}
.gnb{display:flex;}
.gnb a{position:relative;padding:22px 0;margin:0 10px;color:#fff;font-size:17px;font-weight:bold;}
.gnb a.selected:after{content:"";display:block;position:absolute;left:0;bottom:0;width:100%;height:4px;background:#00C5FF;}
.utill{display:flex;align-items:center;}
.utill .weather{display:flex;align-items:center;font-family: 'GmarketSansM';color:#fff;font-size:15px;}
.utill .weather .day{display:flex;align-items:center;padding:0 10px;font-family: 'GmarketSansM';}
.utill .weather .day span{font-family: 'GmarketSansL';}
.utill .weather b{display:inline-block;padding:5px 8px;background:#fff;color:#162252;border-radius:100px;font-size:11px;line-height:1;font-family: 'GmarketSansB'}
.utill .weather .weather_ico{display:block;width:35px;height:30px;margin:0 4px 8px 8px;background: url(../images/common/weather_ir.svg); text-indent:-999px;overflow:hidden;}
.utill .weather .weather_ico.ico1{background-position:0 0;}
.utill .mainsearch{position:relative;padding:0 1.4%;}
.utill .mainsearch input{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 100px;}
.utill .mainsearch input[type="text"]{width:100%; height:34px; padding:8px 16px;border:1px solid #D9D9D9;color:#fff;background:none;}
.utill .mainsearch input[type="text"]::placeholder{color:#acacac;letter-spacing:-1px;}
.utill .mainsearch button{position:absolute;right:24px;top:0;width:30px;height:100%;text-indent: -9999px;background:transparent}
.utill .mainsearch button:after{content:"";display:block;position:absolute;left:50%;top:50%;width:18px;height:26px;margin:-13px 0 0 -9px;background:url(../images/common/ir_header.svg) no-repeat ;}

.utill .user_info{position:relative;display:flex;justify-content:center;color:#fff}
.utill .user_info:before{content:"";display:block;width:26px;height:26px;margin-right:2px;background:url(../images/common/ir_header.svg) no-repeat -35px 0;}
.utill .user_info #bn_open{display:block;width:20px;height:28px;background:url(../images/common/ir_header.svg) no-repeat -68px 0;}
.utill .user_info #info_check{position:absolute;top:30px;right:0;width:150px;background:#fff;border-radius:10px;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);text-align:center;z-index:10;}
.utill .user_info #info_check ul{padding:14px 20px;color:#333;border-bottom:1px solid #D9D9D9;text-align:left;}
.utill .user_info #info_check ul li b{margin-right:10px;font-weight:normal;color:#9B9B9B}
.utill .user_info #info_check .logout{justify-content:center;width:100%;padding:10px;color:#333;background:transparent}

.wrapper{position: relative;}


/* lnb */
.container{position:relative;min-height:100%;/*background:#F1F6FF*/}
.container:before{content:"";display:block;position:absolute;left:0;top:0;width:260px;height:100%;background:#F1F6FF;z-index:0;}

.container-fixed .lnb_wrap{position:fixed;top:0;}
#lnb{float:left;display:block;z-index: 11;width:260px;background:#F1F6FF;}
/* .lnb_wrap{float:left;display:block;z-index: 11;width:260px;height:100%;background:#F1F6FF;} */
.lnb__title {width:100%;padding:50px 24px 30px;color:#0E224A;background:rgba(255, 255, 255, 0.5) ;}
.lnb__title strong{position: relative;display:block;padding:0 24px 0 40px;font-size:16px;font-weight:bold;}
.lnb__title strong:after{content:"";display:block;position:absolute;left:0;top:-2px;width:30px;height:30px;background:url(../images/common/ico_home.svg);}
.lnb_depth2__list *{font-family: 'gmarket';}
.lnb_depth2__list{padding:25px 25px 0;border-bottom: 1px solid rgba(213, 224, 245, 0.5);}
.lnb_depth2__list > li{position:relative;border-top: 1px solid rgba(213, 224, 245, 0.5);}
.lnb_depth2__list > li:first-child {border-top:none;}
.lnb_depth2__list > li.on + li {border-top:none;}
.lnb_depth2__list > li > a{position:relative;display:block;line-height:1.2;padding: 12px 35px 12px 0;}
.lnb_depth2__list > li > a:before {display:block;position:absolute;z-index: 1;right: 19.8px;top:19px;content:'';width: 4px;height: 4px;border: solid #3267CE;border-width: 0 2px 2px 0;transform: rotate(-135deg);-webkit-transform: rotate(-135deg);}
.lnb_depth2__list > li > a:after {display:block;position:absolute;right: 10px;top:9px;content:'';width: 25px;height:25px;border-radius: 50%;background:#E4EAFC}
.lnb_depth2__list > li > a > span{position:relative;display: inline-block;padding-left:25px;line-height:1.2;word-wrap:break-word;word-break:keep-all;font-size: 15px;font-weight: bold;color: #0F2248;}
.lnb_depth2__list > li > a > span:before {display:block;position:absolute;z-index: 1;left:0;top:-2px;content:'';width:20px;height:20px;background:url(../images/common/ir_menuico.svg)}
.lnb_depth2__list > li:nth-child(2) > a > span:before{background-position:-30px 0;}
.lnb_depth2__list > li:nth-child(3) > a > span:before{background-position:-60px 0;}
.lnb_depth2__list > li:nth-child(4) > a > span:before{background-position:-90px 0;}
.lnb_depth2__list > li:nth-child(5) > a > span:before{background-position:-120px 0;}
.lnb_depth2__list > li:nth-child(6) > a > span:before{background-position:-150px 0;}
.lnb_depth2__list > li:nth-child(7) > a > span:before{background-position:-180px 0;}
.lnb_depth2__list > li:nth-child(8) > a > span:before{background-position:-210px 0;}
.lnb_depth2__list > li.on{padding: 0;margin-bottom:-2px;border-top: 0px;border-bottom: 0px;}
.lnb_depth2__list > li.on > a {padding-left:20px;background: #3A78F2; border-radius: 10px 10px 0 0;}
.lnb_depth2__list > li.on > a:before {top:18px;border-color:#fff;border-width: 0 2px 2px 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.lnb_depth2__list > li.on > a:after{background:#0E224A}
.lnb_depth2__list > li.on > a > span { color:#fff;}
.lnb_depth2__list > li.on:nth-child(2) > a > span:before{background-position:-30px -30px;}
.lnb_depth2__list > li.on:nth-child(3) > a > span:before{background-position:-60px -30px;}
.lnb_depth2__list > li.on:nth-child(4) > a > span:before{background-position:-90px -30px;}
.lnb_depth2__list > li.on:nth-child(5) > a > span:before{background-position:-120px -30px;}
.lnb_depth2__list > li.on:nth-child(6) > a > span:before{background-position:-150px -30px;}
.lnb_depth2__list > li.on:nth-child(7) > a > span:before{background-position:-180px -30px;}
.lnb_depth2__list > li.on:nth-child(8) > a > span:before{background-position:-210px -30px;}
.lnb_depth2__list .lnb_depth3__list{display:none;overflow: hidden;height:0;margin: 0 10px 13px;padding:0;text-align: left;border-radius: 10px;background: #fff;}
.lnb_depth2__list .lnb_depth3__list > li {position:relative;border-bottom:1px solid #E2E8FB;}
.lnb_depth2__list .lnb_depth3__list > li:last-child {background:none;}
.lnb_depth2__list .lnb_depth3__list > li.on {padding-bottom:5px;}
.lnb_depth2__list .lnb_depth3__list > li > a{display:block;position:relative;z-index:2;line-height: 1.4;padding:10px 15px 10px 28px;font-weight:bold;}
.lnb_depth2__list .lnb_depth3__list > li > a:after {display:block;position:absolute;left: 15px;top: 50%;content:'';width:8px;height:1px;margin-top: -3px;background:#757575}
.lnb_depth2__list .lnb_depth3__list > li.on > a:after {background: #0D5FF7;}
.lnb_depth2__list .lnb_depth3__list > li > span{display: inline-block;position: relative;font-size: 16px;color: #3e434a;}
.lnb_depth2__list .lnb_depth3__list > li.on > a span {font-weight: bold;color: #0D5FF7;}
.lnb_depth2__list .lnb_depth3__list > li:last-child {border:0;}
.lnb_depth2__list > li > a:hover .lnb_depth3__list,
.lnb_depth2__list > li > a:focus .lnb_depth3__list,
.lnb_depth2__list > li.on .lnb_depth3__list,
.lnb_depth2__list > li.ov .lnb_depth3__list,
.lnb_depth3__list.on,
.lnb_depth3__list.open{display:block !important;visibility:visible;height:auto;padding-top:10px;padding-bottom: 0;}
.lnb_depth2__list > li.on .lnb_depth3__list{margin: 0;margin-bottom: 13px;border-radius: 0 0 10px 10px;}
.depth3_ul > li.on .depth4_ul {display:block;}
.depth4_ul {display: none;margin: 1px 0 ;padding: 0px 15px 10px;}
.depth4_ul > li {position: relative;}
.depth4_ul > li:last-child {border:0;}
.depth4_ul > li > a {display:block;position:relative;line-height:1.3;padding:2px 15px 2px 28px;font-size: 15px;color: #3e434a;}
.depth4_ul > li > a:before {display:block;position:absolute;left: 15px;top: 6px;content:'';width: 7px;height: 8px;border:solid #CACACA;border-width:0 0 1px 1px;}
.depth4_ul > li.on > a {color:#333 }
.depth4_ul > li.on > a:before {border-color:#0D5FF7; }

.side_btn{margin:70px 0;padding:0 24px;}
.side_btn button{position:relative;width:100%;}
.side_btn button .ico.bi-blank_w{position:absolute;right:14px;top:50%;margin-top:-12px;}

/* .container{background:#F1F6FF;} */
.content_wrap{float:right;position:relative;width:calc(100% - 260px);min-height:100%;padding:4%;background:#fff;}

#location{position:relative;display:flex;align-items:flex-end;width:100%;padding:0 0 20px;}
#location .page__title {float:left;line-height: 1.3;font-size:30px;font-weight:bold;color: #0F2248;}
#location .location_wrap {display:inline-block; position:relative;margin: 18px 0 0 20px;}
#location .location_wrap:after {display:block; clear:both; visibility:hidden; content:'';}
#location .location_wrap li {float: left;position:relative;}
#location .location_wrap li:not(:last-child):after {display:inline-block;content:'';margin: 10px 12px 0;border-top:3px solid transparent;border-bottom:3px solid transparent;border-left:5px solid #c5c5c5;vertical-align: top;}
#location .location_wrap li a {display:inline-block;position:relative;line-height: 25px;vertical-align: top;font-size: 15px;color:#7E8297}
#location .location_wrap li.home a {width:14px;height:12px;margin:6px 0 0;background: url(../images/common/ico_navihome.svg);font-size: 0;}
#location .location_wrap li:last-child a {font-weight:bold;}


#footer{position:absolute;bottom:20px;z-index:999;}
#footer p{display:flex;align-items:flex-end;padding:0 24px 14px;font-family: 'GmarketSansM';font-size:11px;color:#182869;justify-content:center;}
#footer .logo_ca{display:inline-block;width:94px;height:23px;margin-left:10px;background:url(../images/common/logo_ca.svg);text-indent: -999px;overflow:hidden;}



/* 로그인 */
.wrapper.login .container{display:flex;height:100vh;background:transparent}
.wrapper.login .container:before{display:none;}
.wrapper.login .container .lcon,
.wrapper.login .container .visual{width:50%;height:100vh}
.wrapper.login .container .lcon{display:flex;flex-direction:column;align-items:center;justify-content:center;}
.wrapper.login .container .lcon .wrap{position:relative;width:380px;}
.wrapper.login .container .lcon h1 b{margin-top:-100px;margin-bottom:50px;width:152px;height:42px;background:url(../images/common/logo_b.svg)}
.wrapper.login .container .lcon h1.logo{left:0;}
.wrapper.login .container .lcon .input_row {flex-direction:column;margin-bottom:10px;align-items:flex-start;}
.wrapper.login .container .lcon .input_row .bar_title{display:block;text-align:left;padding:0;}
.wrapper.login .container .lcon .input_row input{height:44px;color:#747EA5;background:#F5F8FF}
.wrapper.login .container .lcon .input_row input::placeholder{color:#747EA5;}
.wrapper.login .container .lcon .check_row{margin-bottom:20px;color:#747EA5;font-size:15px;}
.wrapper.login .container .lcon .btnwrap{margin-top:20px;}
.wrapper.login .container .lcon .btnwrap button{position:relative;padding:0 20px}
.wrapper.login .container .lcon .btnwrap button:after{content:"";display:block;position:absolute;left:0;width:1px;height:16px;background:#DDDFE8}
.wrapper.login .container .lcon .btnwrap button:first-child::after{display:none}

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }


#visual { overflow:hidden; position: relative; width:50%;height:100vh;background:#182869 url(../images/common/visual_bg.svg) no-repeat 100% 100%;}
#visual .visual_wrap { overflow: hidden;}
#visual .slide_item { height: 808px; background-repeat: no-repeat; }
#visual .slide_control { position: absolute; bottom: 20px; }
#visual .prev, #visual .next { position: absolute; top: 50%; width: 56px; height: 56px; background: #fff; border-radius: 50px; box-shadow: 0 0 0 0 rgba(14, 31, 68, 0); transition: all 0.2s ease-in-out; }
#visual .prev:hover, #visual .prev:focus, #visual .next:hover, #visual .next:focus { box-shadow: 0 0 17px 0 rgba(14, 31, 68, 0.09); }
#visual .prev::before, #visual .next::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 13px; height: 19px;transform: translate(-50%, -50%); }
#visual .prev { left: 0; transform: translateX(-50%); }
#visual .prev::before { background-position: -6px -2px; }
#visual .prev:hover::before, #visual .prev:focus::before { background-position: -30px -2px; }
#visual .next { right: 0; transform: translateX(50%); }
#visual .next::before { background-position: -54px -2px; }
#visual .next:hover::before, #visual .next:focus::before { background-position: -78px -2px; }
#visual .slide_control { position: absolute; bottom: 46px; left: 0; width: 100%; text-align: center;z-index:999; }
#visual .slide_control .dots { display: inline-block; vertical-align: middle; }
#visual .slide_control .dots li { float: left; background:none }
#visual .slide_control .dots li.slick-active button{ background: #0057FF;}
#visual .slide_control .dots li:not(:first-child) { margin-left: 13px; }
#visual .slide_control .dots button { overflow: hidden; width: 11px; height: 11px; background:none;border:1px solid #0057FF; font-size: 0; color: transparent;border-radius:100px; }
#visual .visual_text { position: absolute; top:120px; left:120px; max-width: 80%; color:#A5AECA}
#visual .visual_text .main_title { display: block; font-size:55px;font-family: 'MontserratL';letter-spacing:-5% }
#visual .visual_text .main_title .large { margin-top: 11px; font-family: 'GmarketSansB',serif; font-size: 54px; font-weight: 600; letter-spacing: -1px; }
#visual .visual_text .sub_text { margin-top: 11px; font-size: 15px; line-height: 24px; color: rgba(255, 255, 255, 0.9); }

/* 회원가입 */
.wrapper.join .container .titwrap{position:fixed;width:25%;height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;background:#182869}
.wrapper.join .container .titwrap h1{position:relative;margin-top:-30px;font-size:36px;font-weight:bold;text-align:center}
.wrapper.join .container .titwrap h1:before{content:"";display:block;}
.wrapper.join .container .titwrap.tit1 h1:before{width:162px;height:162px;background: url(../images/join/ico_join_company.svg);}
.wrapper.join .container .titwrap.tit2 h1:before{width:163px;height:163px;background: url(../images/join/ico_join_person.svg);}
.wrapper.join .container .titwrap.tit3 h1:before{width:163px;height:163px;background: url(../images/join/ico_join_search.svg);}

.wrapper.join .container .rcon{width:calc(100% - 25%);padding:60px 60px 0px;margin-left:25%;}
.wrapper.join .container .rcon .btnwrap{margin-bottom:80px;}
.wrapper.join .container .rcon.mid{display:flex;flex-direction:column;height:100vh;justify-content:space-between;}
.wrapper.join .container .rcon.mid .wrap{display:flex;flex-direction:column;justify-content:center;align-items:center;height:100vh;}
.wrapper.join .container .rcon.mid .wrap .tit{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.wrapper.join .container .rcon.mid .wrap .tit:before{content:"";display:block;background-repeat:no-repeat}
.wrapper.join .container .rcon.mid .wrap .tit1:before{width:83px;height:83px;background: url(../images/join/ico_join_write.svg);}
.wrapper.join .container .rcon.mid .wrap .tit2:before{width:82px;height:82px;background: url(../images/join/ico_join_result.svg);}
.wrapper.join .container .rcon.mid .wrap .linebox_bott{width:700px;margin-top:50px;padding:50px;border-top:1px solid #A5AECA;}
.wrapper.join .container .rcon.mid .wrap .linebox_bott .input_row{width:100%;}
.wrapper.join .container .rcon.mid .wrap .linebox_bott .btnwrap{margin-top:30px;margin-bottom:0;}
.wrapper.join .container .rcon.mid .wrap .linebox_bott .resulttext{padding-top:20px;font-size:22px;color:#182869}
.wrapper.join .container .rcon.mid .wrap .linebox_bott .resulttext b{font-weight:bold;}
.wrapper.join .container .box_period.filewrap .box_input{margin-right:8px;}

.linebox_bott{margin-bottom:50px;padding-bottom:50px;margin-bottom:60px;border-bottom:1px solid #A5AECA;}
.linebox_bott.col2{display:flex;flex-wrap:wrap;}
.linebox_bott .input_row:nth-of-type(odd){margin-right:2%;}
.linebox_bott .input_row{display:inline-flex;width:50%;margin-bottom:10px;width:48%}
.linebox_bott .input_row.full_row{width:48%;margin-right:3%;align-items: flex-start;}
.linebox_bott .input_row.full_row .bar_title{width:144px;padding-top:9px;}
.linebox_bott .input_row.full_row .box_period{max-width:100%;width:100%;}
.linebox_bott .input_row .bar_title{padding-left:0;width:120px;}
.linebox_bott .input_row input{flex-grow:0}
.linebox_bott .input_row input.wide{flex-grow:1}
.linebox_bott .input_row .col{display:flex;flex-direction:column;width:100%}

.wrapper.join #footer{position:static;}
.wrapper.join #footer p{justify-content: flex-start;}

/* wide layout */
.wrapper.wide{background:#F6F6F6}
.wrapper.wide .container{flex-direction:column;align-items: center;}
.wrapper.wide .container::before{display:none;}
.wrapper.wide .container #location{display:flex;flex-direction:column;align-items:center;padding:60px 0 30px;}
.wrapper.wide .container #location .location_wrap{margin-left:0;}
.wrapper.wide .container #txt{width:94%;max-width:1420px;padding:100px 70px;margin:0 auto 60px;background:#fff;border-radius:10px;}
.wrapper.wide #footer{position:static;}
.wrapper.wide #footer p{justify-content: flex-start;}

.wrapper.wide.content14 .container #txt{max-width:1800px;}




/* ie 용 스크롤 바 *********************************************/
html { scrollbar-arrow-color: #535353;
    scrollbar-Track-Color: #535353;
    scrollbar-base-color: #D9D9D9;
    scrollbar-Face-Color: #D9D9D9;
    scrollbar-3dLight-Color: #D9D9D9;       
    scrollbar-DarkShadow-Color: #D9D9D9;
    scrollbar-Highlight-Color: #D9D9D9;
    scrollbar-Shadow-Color: #D9D9D9}
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width: 6px; height: 5px;  }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {display: block; width: 6px;height: 0px; background: url() rgba(217,217,217,1);}
::-webkit-scrollbar-track {background: rgba(217,217,217,1); }
::-webkit-scrollbar-thumb {background: rgba(83,83,83,1);  }
/* ------------------------------------------------------------ */
