@charset "utf-8";
.main {background:#F6F6F6}
.main .container{display:flex;flex-direction:column;;gap:20px;padding:20px 25px;}
.main .container::before{display:none;}
/* 공통 */
.con{display:flex;width:100%;}
.con .box{height:100%;border-radius:10px;background:#fff;}
.con .mico{position:relative;display:inline-block;width:44px;height:44px;border-radius:10px;}
.con .mico:before{content: "";display:block;position:absolute;top:50%;left:50%;}

.con .box{display:flex;align-items:center;justify-content:space-between;}
.con .box.col{flex-direction:column; align-items:flex-start;justify-content:space-between;}

.con .titwrap{display:flex;align-items:center;justify-content:space-between;width:100%;padding:30px 30px 0;}
.con .titwrap h3{color:#182869;font-size:15px;}
.con .titwrap.bn_qs {justify-content: flex-start;border-bottom:0;}
.con .titwrap.bn_qs button{padding:0;border:0;}

.con .grap{padding:0 30px 30px;}
.con .grap img{max-height:100%;}

.tabwrap .titwrap{padding:20px 30px;border-bottom:1px solid #E2E8FB}
.tabwrap {justify-content: flex-start!important;}
.tabwrap .tab-nav{position:relative;display:flex;border-radius:5px;overflow:hidden;}
.tabwrap .tab-nav_link{display:inline-block;margin: 0;vertical-align:bottom;border:1px solid #EDEDED;border-left:0;}
.tabwrap .tab-nav_link:first-child{border-left:1px solid #EDEDED;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.tabwrap .tab-nav_link:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.tabwrap .tab-nav_link span{position:relative;display:inline-block;padding: 6px 15px 6px 25px;font-size:15px;color: #939393;}
.tabwrap .tab-nav_link span:before{content:"";display:block;position:absolute;left:12px;top:50%;width:8px;height:8px;margin-top:-4px;background:#AFAFAF;border-radius:100%;}
.tabwrap .tab-nav_link:nth-of-type(1) span{padding: 6px 15px;}
.tabwrap .tab-nav_link:nth-of-type(1) span:before{display:none;}
.tabwrap .tab-nav_link:nth-of-type(3) span:before{background:#0057FF}
.tabwrap .tab-nav_link:nth-of-type(4) span:before{background:#46CE9B}
.tabwrap .tab-nav_link.active span{color: #fff;padding: 6px 15px;background:#0057FF}
.tabwrap .tab-nav_link.active span:before{display:none;}
.tabwrap .tab-nav_link:nth-of-type(1).active{border-left:0}
.tabwrap .tab-nav_link:nth-of-type(2).active span{background:#AFAFAF}
.tabwrap .tab-nav_link:nth-of-type(3).active span{background:#0057FF}
.tabwrap .tab-nav_link:nth-of-type(4).active span{background:#46CE9B}
.tabwrap .tab-body{display:none;width:100%;height: 411px;margin-top: 0;position:relative;overflow:auto;margin:6px 0 20px;}
.tabwrap .tab-body.active{display:block}
.adr{position:relative;padding-left:16px;color:#AFAFAF}
.adr:after{content:"";display:block;position:absolute;left:0;top:3px;;display:inline-block;width:12px;height:17px;background:url(../images/common/ico_adress.svg) no-repeat}


/* 준공 */
.completionwrap .titwrap{flex-direction:column;align-items: flex-start;border-bottom:0;}
.completionwrap .titwrap h3{position:relative;padding-top:50px;}
.completionwrap .titwrap h3:after{content:"";position:absolute;left:0;top:0;display:block;width:66px;height:48px;background:url(../images/main/ico_completion.svg) no-repeat;}
.completionwrap ul{width:100%;padding:10px 40px 40px;}
.completionwrap ul li{display:flex;justify-content:flex-end;align-items:center;padding-top:4px;color:#182869}
.completionwrap ul li b{display:inline-block;width:110px;}
.completionwrap ul li b span{display:inline-block;padding:2px 3px;margin-left:2px;border:1px solid #8B94B4;color:#182869;font-size:11px;border-radius:2px;line-height:1;}
.completionwrap ul li .num{display:inline-block;padding:4px 7px;border-radius:5px;color:#fff;background:#1A3B97;font-family: 'GmarketsansB';font-size:12px;line-height:1}

/* 아이콘타이틀 */
.icotit{position:relative;padding-top:58px;}
.icotit:before{content:"";display:block;position:absolute;left:0;top:0;width:48px;height:48px;border-radius:10px;background-repeat:no-repeat;}
.icotit.ico1:before{background-image:url(../images/main/ico_titico1.svg);}
.icotit.ico2:before{background-image:url(../images/main/ico_titico2.svg);}
.icotit.ico3:before{background-image:url(../images/main/ico_titico3.svg);}
.icotit.ico4:before{background-image:url(../images/main/ico_titico4.svg);}
.icotit.ico5:before{background-image:url(../images/main/ico_titico5.svg);}

.icotit h3{color:#5C88FD;font-weight:normal;font-size:15px;}

.iconews{display:flex;flex-direction:row;align-items:flex-start!important;position:relative;padding:36px 30px; }
.iconews .icotit {width:150px;}
.iconews .news {width:100%;}
.iconews .news li{display:flex;justify-content:space-between;position:relative;width:100%;padding-left:12px;margin-bottom:4px;color:#182869;}
.iconews .news li a{WIDTH:74%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.iconews .news li:before{content:"";position:absolute;left:0;top:50%;display:block;width:3px;height:3px;margin-top:-1px;background:#0057FF;border-radius:10px;}
.iconews .news li .date{width:50px;color:#A5AECA;text-align:right;}

.bn_more{position:absolute;left:30px;bottom:35px;display:flex;align-items:center;}
.bn_more:before{content:"";display:block;width:10px;height:10px;margin-right:4px;background:url(../images/main/ico_plus.svg);}

/* 서류결제 */
.settlement {margin:0 30px}
.settlement dt{margin:30px 0 10px;padding-left:30px;color:#182869;font-weight:bold;background:url(../images/main/ico_company.svg) no-repeat}
.settlement dd{display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;color:#182869;}
.settlement dd .cate{position:relative;display:inline-block;width:90px;padding-left:20px;margin-right:4px;color:#4470F3;font-size:14px;background:url(../images/main/ico_file.svg) no-repeat 0 2px;}
.settlement dd .company{padding:0 10px}
/* .settlement dd .cate:after{content:"";display:block;position:absolute;right:0;top:50%;width:1px;height:14px;margin-top:-7px;background:#A9C7FF } */
.settlement dd .date{color:#AAB3C4}
/* 공통 end */

@media screen and (max-width:1550px){
    .settlement dd .cate{flex-grow:2}
    .settlement dd .date{width:100%;text-align:right;} 
}




.con_top{height:130px;gap:20px;}
.maintitwrap{width:75%;padding:30px;border:5px solid #fff;background: transparent!important;color:#182869}
.maintitwrap .tit h2{position:relative;display:inline-block;padding-right:40px;font-family: 'mont';font-size:28px;line-height:1.3;}
.maintitwrap .tit h2::after{content:"";display:block;position:absolute;right:0;top:2px;width:32px;height:32px;background:url(../images/main/ico_tit1_1.svg) no-repeat}
.maintitwrap .tit p b{font-weight:bold;}
.maintitwrap .alldata{display:flex;align-items:center;justify-content:flex-end;gap:4%;width:calc(100% - 260px)}
.maintitwrap .alldata li{display:inline-flex;flex-direction:column;position:relative;padding-left:54px;}
.maintitwrap .alldata li .mico{position:absolute;left:0;background:#fff;}
.maintitwrap .alldata li .mico.ico1{background:#182869}
.maintitwrap .alldata li .mico.ico2{background:#00C5FF}
.maintitwrap .alldata li .mico.ico3{background:#0057FF}
.maintitwrap .alldata li .mico.ico4{background:#F66D6D}
.maintitwrap .alldata li .mico.ico5{background:#46CE9B}
.maintitwrap .alldata li .mico.ico1:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_1.svg);}
.maintitwrap .alldata li .mico.ico2:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_2.svg);}
.maintitwrap .alldata li .mico.ico3:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_3.svg);}
.maintitwrap .alldata li .mico.ico4:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_4.svg);}
.maintitwrap .alldata li .mico.ico5:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_1_5.svg);}

.maintitwrap .alldata li ul{display:flex;flex-direction:row;align-items:center;}
.maintitwrap .alldata li ul li{display:flex;flex-direction:row;width:auto;padding:0 10px 0 0 ;}
.maintitwrap .alldata li strong{display:flex;align-items:center;gap:10px;}
.maintitwrap .alldata li strong b{display:inline-block;padding-bottom:2px;font-size:18px;font-weight:bold;line-height:1.2}
.maintitwrap .alldata li strong span{font-weight:bold;font-family:'GmarketSansB';font-size:18px;line-height:1;}
.maintitwrap .alldata li li b{display:inline-block;font-weight:normal;font-size:14px;}
.maintitwrap .alldata li li span{margin:0 2px;font-size:13px;font-family:'GmarketSansB';line-height:1.9;}

@media screen and (max-width:1280px){
    .maintitwrap{width:80%}
    .maintitwrap .alldata{gap:15px}
}

.con_top .con_top_r{width:25%;padding:20px 3%;color:#fff;background:#3A78F2;}
.con_top .con_top_r h3{display:flex;align-items:center;gap:10px;color:#fff}
.con_top .con_top_r h3 .mico{background:#fff;}
.con_top .con_top_r h3 .mico:before{margin:-14px 0 0 -13px;width:26px;height:27px;background: url(../images/main/ico_tit1_2.svg);}
.con_top .con_top_r li{display:flex;align-items:center;justify-content:space-between;gap:20px;}
.con_top .con_top_r li span{font-weight:bold;font-family:'mont';}

@media screen and (max-width:1280px){
    .con_top .con_top_r{flex-direction:column;align-items:flex-start;justify-content:center;gap:4px;width:20%;}
    .con_top .con_top_r ul{display:flex;justify-content:space-between;width:100%;}
    .con_top .con_top_r li{gap:10px;}
}




.con_mid{height:490px;gap:20px;}
.con_mid .con_mid_ㅣ{width:38.6%;}
.con_mid .projectwrap{width:61.4%;}
.con_mid .con_mid_ㅣ img{width:100%;height:100%;}

/* 프로젝트리스트 */
.projectlist .list{margin:0 30px;}
.projectlist li,
.projectlist dt,
.projectlist dd{display:flex;align-items:center;justify-content:space-between;width:100%;padding:14px 26px;border:1px solid #fff;border-top:1px solid #E2E8FB}
.projectlist li:first-child,
.projectlist dd:first-child{border-top-color:#fff;}
.projectlist li:hover{border:1px solid #0057FF;border-radius:10px;}
.projectlist .lcon strong{display:block;font-size:16px;font-weight:bold;color:#182869}
.projectlist .rcon{display:flex;align-items:center;justify-content:center}
.projectlist .rcon .state {display:flex;align-items:center;}
.projectlist .rcon .state b{position:relative;padding-left:20px;padding-right:10px}
.projectlist .rcon .state b:before{content:"";display:block;position:absolute;left:0;top:6px;width:12px;height:12px;border-radius:100px;}
.projectlist .rcon .state.rate_ready *{color:#AFAFAF}
.projectlist .rcon .state.rate_ready b:before{background:#AFAFAF;}
.projectlist .rcon .state.rate_ing *{color:#0057FF}
.projectlist .rcon .state.rate_ing b:before{background:#0057FF;}
.projectlist .rcon .state.rate_end *{color:#46CE9B}
.projectlist .rcon .state.rate_end b:before{background:#46CE9B;}

/* 완료률 */
.rate{display:inline-block;width:152px;height:20px;padding-left:110px;background-repeat:no-repeat;background-position:0 50%;font-family:'GmarketSansB';font-size:12px;line-height:1.8}
.rate0{background-image:url(../images/main/rate0.svg);}
.rate10{background-image:url(../images/main/rate10.svg);}
.rate20{background-image:url(../images/main/rate20.svg);}
.rate30{background-image:url(../images/main/rate30.svg);}
.rate40{background-image:url(../images/main/rate40.svg);}
.rate50{background-image:url(../images/main/rate50.svg);}
.rate60{background-image:url(../images/main/rate60.svg);}
.rate70{background-image:url(../images/main/rate70.svg);}
.rate80{background-image:url(../images/main/rate80.svg);}
.rate90{background-image:url(../images/main/rate90.svg);}
.rate100{background-image:url(../images/main/rate100.svg);}

@media screen and (max-width:1500px){
    .projectlist .rcon .state{flex-direction:column;align-items: flex-start;}
}

.projectlist .rcon button.onlybn{width:28px;height:28px;padding:0 4px;justify-content: center;border:2px solid #E2E8FB}
.projectlist .rcon button.onlybn .ico.bi-arr{width:8px;height:11px;background-image:url(../images/main/ico_arr_b.svg);}
.projectlist li:hover .rcon button.onlybn{background:#0057FF;border-color:#0057FF}
.projectlist li:hover .rcon button.onlybn .ico.bi-arr{background-image:url(../images/main/ico_arr_w.svg);}

.con_bottom{height:260px;gap:20px;}
.con_bottom .con_bottom_1wrap,
.con_bottom .con_bottom_2wrap{width:20%;}
.con_bottom .con_bottom_3wrap,
.con_bottom .con_bottom_4wrap{width:32%;}

.con_bottom .con_bottom_2wrap .txtwrap{padding:0 7% 30px;}
.con_bottom .con_bottom_2wrap .txtwrap table{border-spacing:4px;border-collapse:separate;margin:0;padding:0;}
.con_bottom .con_bottom_2wrap .txtwrap table,
.con_bottom .con_bottom_2wrap .txtwrap table th,
.con_bottom .con_bottom_2wrap .txtwrap table td{padding:7px;border:0;border-radius:5px;}
.con_bottom .con_bottom_2wrap .txtwrap table th{color:#9B9B9B;background:#EDEDED;}
.con_bottom .con_bottom_2wrap .txtwrap table td{background:#F6F6F6;color:#545454;font-size:14px;font-family: 'GmarketSansB';}
.con_bottom .con_bottom_2wrap .txtwrap table thead th:first-child{background:#F6F6F6;}
.main #footer{position:static;}
.main #footer p{justify-content:left;}


/* 25 dashborad 시스템관리자 */
.main25 .container{flex-direction:row;}
.main25 .container .con_l{width:62%;gap:20px;}
.main25 .container .con_r{width:38%;gap:20px;}
.main25 .container .con{flex-direction:column;}
.main25 .container .con .box{height:auto}

.main25 .container .con .box.maintitwrap{width:100%;height:160px;}
.main25 .container .maintitwrap .alldata{align-items:flex-end;height:46px;gap:30px;}
.main25 .container .maintitwrap .alldata li{justify-content:center}
.main25 .container .con .con_l_1wrap{height:330px;}
.main25 .container .con .titwrap{padding:30px 30px 20px;}

.main25 .con_l_2wrap .grap{height:178px;overflow:auto;margin:0 30px 30px;padding:0;}
.main25 .list_condition {display:flex;align-items:center;min-height:36px;}
.main25 .list_condition input{margin:0 10px;}
.main25 .list_condition label{display:flex;align-items:center;margin-right:10px;color:#A6A6A6}
.main25 .list_condition select{width:100px;}
.main25 .table{border:0;}
.main25 .table thead tr{background:#F6F6F6;}
.main25 .table th,
.main25 .table td{padding:5px;border:0;}
.main25 .table thead th{color:#545454;background:none;border:0;}
.main25 .table thead tr th:first-child,
.main25 .table thead tr th:last-child{border-radius:5px;}

.main25 .projectwrap .tab-body{height:396px;}

@media screen and (max-width:1580px){
    .main25 .container{flex-direction:column;}
    .main25 .container .con_l,
    .main25 .container .con_r{width:100%;}
}



/* 31 dashborad_감리시공회사모니터링 */
.main31 .maintitwrap{width:calc(73.6% - 20px);}
.main31 .con_top .con_top_c{width:calc(18% - 20px)}
.main31 .con_top .con_top_r{flex-direction:column;align-items:flex-start;justify-content:center;gap:10px;width:8%;padding:20px;background:#0057FF;font-weight:bold;}
.main31 .con_top .con_top_r i{width:25px;height:24px;background:url(../images/main/ico_add.svg)}

.main31 .completionwrap .titwrap{padding:0 0 0 20px;}
.main31 .completionwrap ul{padding:0 20px 0 0;}
.main31 .completionwrap ul li{padding:0;}

.main31 .con_mid .con_mid_ㅣ{width: 27%;}
.main31 .con_mid .projectwrap{width: 46%;}
.main31 .con_mid .con_mid_r{display:flex;flex-direction:column;gap:20px;width:27%;}

@media screen and (max-width:1700px){
    .main31 .con_top,
    .main35 .con_top{height:170px;}
    .main31 .maintitwrap,
    .main35 .maintitwrap{flex-direction:column;align-items:flex-start;width:75%;}
    .main31 .maintitwrap .tit,
    .main35 .maintitwrap .tit{display:flex;align-items:center;gap:10px;}
    .main31 .maintitwrap .alldata,
    .main35 .maintitwrap .alldata{width:100%;gap:0;justify-content:space-between;}
    .main31 .con_top .con_top_c{flex-direction:column;width:15%}
    .main31 .completionwrap .titwrap{padding:20px 20px 0;}
    .main31 .completionwrap .titwrap h3{padding:20px 0 0 70px}
    .main31 .completionwrap ul{padding:0 20px 20px;}
    .main31 .completionwrap ul li{width:100%;justify-content:space-between;}
    .main31 .con_top .con_top_r{width:10%;}
}


/* 인력관리현황 */
.main31 .con_mid .con_mid_r_wrap1{gap:24px;height:114px;padding:18px 30px;}
.main31 .con_mid .con_mid_r_wrap1 .list{position:relative;width:100%;height:50px;margin-right:80px;padding: 30px 0 0 ;color:#182869;}
.main31 .con_mid .con_mid_r_wrap1 .list li strong{position:absolute;}
.main31 .con_mid .con_mid_r_wrap1 .list li span{position:relative;display:inline-block;padding:6px;margin-top:1px;font-family:'GmarketSansB';font-size:12px;color:#fff;background:#182869;border-radius:5px;line-height:1;}
.main31 .con_mid .con_mid_r_wrap1 .list li span:after{content:"";display:block;position:absolute;top: 24px;left:50%;height:0;margin-left:-4px;border:4px solid transparent;border-top-color:#182869;}
.main31 .con_mid .con_mid_r_wrap1 .list .off span{color:#182869;background:#D9D9D9}
.main31 .con_mid .con_mid_r_wrap1 .list .off span:after{border-top-color:#D9D9D9;}

.main31 .con_mid .con_mid_r_wrap1 .list .on strong{display:flex;flex-direction: row-reverse; align-items:center;gap:4px;left:0;top:0;}
.main31 .con_mid .con_mid_r_wrap1 .list .off strong{display:flex;align-items:center;gap:4px;right:0;top:0;}
.main31 .con_mid .con_mid_r_wrap1 .list .total{position:absolute;right:-80px;text-align: right;}
.main31 .con_mid .con_mid_r_wrap1 .list:before{content:"";position: absolute;bottom: 0; display:block;width:100%;height:8px;background:#D9D9D9;border-radius:10px;}

.main31 .con_mid .con_mid_r_wrap1 .list .on .bar{position: absolute;top:42px;left:0; display:block;width:100%;height:8px;background:#182869;border-radius:10px;}

.main31 .con_mid .con_mid_r_wrap1 .list .total span{color:#182869;font-size:16px;background:none}
.main31 .con_mid .con_mid_r_wrap1 .list .total span:after{display:none;}

@media screen and (max-width:1500px){
    .main31 .con_mid .con_mid_r_wrap1 .list{margin-right:40px;}
    .main31 .con_mid .con_mid_r_wrap1 .list .total{width:30px;right:-45px;top:5px;}
}

/* 인력리스트 */
.main31 .con_mid .con_mid_r_wrap2{height:357px;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-nav_link span{padding:6px 15px;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-nav_link span:before{display:none;}
.main31 .con_mid .con_mid_r_wrap2.tabwrap .tab-body{height:256px;}
.main31 .con_mid .con_mid_r_wrap2 .list{margin:26px 30px; }
.main31 .con_mid .con_mid_r_wrap2 .list li{display:flex;justify-content:space-between;align-items:center;padding-bottom:12px;}
.main31 .con_mid .con_mid_r_wrap2 .list li .tag{width:50px;}
.main31 .con_mid .con_mid_r_wrap2 .list li .adr{width:150px;}
.main31 .con_mid .con_mid_r_wrap2 .list li .name{font-weight:bold;color:#182869}
.main31 .con_mid .con_mid_r_wrap2 .list li .num{text-align:right;color:#182869}

@media screen and (max-width:1700px){
    .main31 .con_mid .con_mid_r_wrap2 .list li{flex-wrap:wrap;}
    .main31 .con_mid .con_mid_r_wrap2 .list li .adr{width:100%;padding-left:86px;}
    .main31 .con_mid .con_mid_r_wrap2 .list li .adr:after{left:70px}
    .main31 .con_mid .con_mid_r_wrap2 .list li .name{width:50px;}
    .main31 .con_mid .con_mid_r_wrap2 .list li .num{width:calc(100% - 140px);}

}

.main31 .con_bottom{height:290px}
.main31 .con_bottom .con_bottom_1wrap{width:27%}
.main31 .con_bottom .con_bottom_2wrap{width:46%}
.main31 .con_bottom .con_bottom_3wrap{width:27%;}

@media screen and (max-width:1500px){
    .iconews .icotit{padding:10px 0 20px 60px}
    .iconews .news{height:100%;overflow:hidden;}
    .bn_more{bottom:auto;top:48px;left:auto;right:30px;}
    .main31 .con_bottom .con_bottom_3wrap,
    .main35 .con_bottom .con_bottom_2wrap{flex-direction:column;}
}

/* 35 dashboard_시공자감리원 */
.main35 .maintitwrap{width:76.4%}
.main35 .con_top .con_top_r{width:27.6%;justify-content: center;}
.main35 .con_top .con_top_r b{padding:5px 0 0 10px;font-size:28px;font-family:'GmarketsansB'}
.main35 .con_top .con_top_r h3 .mico:before{background-image:url(../images/main/ico_tit1_6.svg);}

.main35 .con_mid .con_mid_ㅣ{width: 27%;}
.main35 .con_mid .projectwrap{width: 46%;}
.main35 .con_mid .con_mid_r{display:flex;flex-direction:column;width:27%;}
.main35 .con_mid .con_mid_r .titwrap{padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.main35 .con_mid .con_mid_r .titwrap .input_row{flex-grow:0;}
.main35 .con_mid .con_mid_r .wrap{width:100%;height:100%;margin:0 0 26px; overflow: auto;}

.main35 .con_bottom .con_bottom_1wrap {width:73.3%;}
.main35 .con_bottom .con_bottom_2wrap {width:26.7%;}

.main35 .con_bottom .con_bottom_1wrap{position:relative;align-items:flex-start;}
.main35 .con_bottom .con_bottom_1wrap .titwrap{flex-direction:column;align-items:flex-start;width:250px;padding-right:0;}
.main35 .con_bottom .con_bottom_1wrap .titwrap .input_row{width:100%;padding-top:10px;flex-grow:0;}
.worklist {display:flex;gap:20px;width:100%;margin:30px 30px;}
.worklist li{width:25%;border: 1px solid #E2E8FB;border-radius:10px;}
.worklist strong{display:block;width:100%;padding:10px 16px 10px 44px;color:#182869;background:url(../images/main/ico_company.svg) no-repeat 14px 50%;border-bottom:1px solid #E2E8FB}
.worklist div{width:100%;height:153px;padding:13px 16px;color:#182869;}
.worklist div .company{display:inline-block;padding:3px 4px;border:1px solid #A9C7FF;border-radius:3px;color:#5C88FD;font-size:14px;line-height:1;}
.worklist div .person{position:relative;display:block;padding:4px;}
.worklist div .person span{position:relative;display:inline-block;padding-left:8px;margin-left:8px}
.worklist div .person span:after{content:"";display:block;position:absolute;left:0;top:50%;width:1px;height:14px;margin-top:-7px;background:#A9C7FF }
.worklist div ul li{width:100%;padding-left:4px;border:0;color:#A6A6A6;line-height:1.4}
.main35 .con_bottom .con_bottom_1wrap .bn_more{left:30px;bottom:35px;top:auto;right:auto;}
@media screen and (max-width:1600px){
    .submain .con_l .projectlist .wrap .list .date{width:130px;line-height:1.4}
    .worklist li{width:33.3%}
    .main35 .worklist > li:last-child{display:none;}
    .main35 .con_top .con_top_r{flex-direction:row;align-items:center;}

}



/* 서브메인 */
.submain{display:flex;padding:60px 40px 60px 60px;gap:20px;}
.submain .con_l{flex-direction:column;gap:20px;}

.submain .con_l .projectlist{justify-content:flex-start;width:100%;height:517px;padding:30px 0;}
.submain .con_l .projectlist .wrap{width:100%;height:100%;overflow:auto;}
.submain .con_l .projectlist .wrap .list li{padding:17px 26px}
.submain .con_l .projectlist .wrap .list .date{padding:0 10px 0 30px;color:#182869;background:url(../images/main/ico_calendar.svg) no-repeat 0 3px;}
.submain .con_l .projectlist .wrap .list .cate{padding:0 30px;color:#182869;}

.submain .con_l .projectlist .titlist{width:93%;padding:0;margin:0 auto; border: 1px solid #D9D9D9;}
.submain .con_l .projectlist .titlist .tit{display:flex;align-items:center;justify-content:space-between;padding:20px 30px;border-bottom:1px solid #D9D9D9;border-top:0;background:#fff;}
.submain .con_l .projectlist .titlist .tit .state{margin-right:10px;}
.submain .con_l .projectlist .titlist .tit .state b:before{display:none;}
.submain .con_l .projectlist .titlist .tit .state span{font-size:20px;font-family: 'GmarketSansB';}
.submain .con_l .projectlist .titlist .wrap{height:370px;}
.submain .con_l .projectlist .titlist .wrap .list{margin:0;background:#FCFCFC}
.submain .con_l .projectlist .titlist .wrap .list li{width:auto;margin:0 30px;padding:17px 20px}
.submain .con_l .projectlist .titlist li:hover{border-width:1px;border-style:solid;border-color:#A9C7FF transparent  transparent;border-radius:0;}
.submain .con_l .projectlist .titlist li strong{font-weight:normal;}

.submain .con_r{flex-direction:column;width:46%;gap:20px;}
.submain .con_r .titwrap{padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.submain .con_r .titwrap .input_row{flex-grow:0;}
.submain .con_r .wrap{width:100%;height:100%;margin:26px 0 26px; overflow: auto;}
.submain .con_r .wrap dd{padding:4px 0}

.submain .con_r .con_r_1wrap {height:252px;}
.submain .con_r .con_r_2wrap {height:217px;}
.submain .con_r .con_r_3wrap {height:372px;}
.submain .con_r .con_r_4wrap {height:258px;}
.submain .con_r .con_r_5wrap {height:auto;}

.submain .con_r .con_r_1wrap .titwrap{border-bottom:0;}
.submain .con_r .con_r_2wrap,
.submain .con_r .con_r_3wrap,
.submain .con_r .con_r_4wrap {position: relative;}
.submain .con_r .con_r_2wrap .bn_more,
.submain .con_r .con_r_3wrap .bn_more,
.submain .con_r .con_r_4wrap .bn_more{bottom:auto;left:auto;right:30px;top:24px;}

.submain .con_r .con_r_3wrap .wrap,
.submain .con_r .con_r_4wrap .wrap{height:100%;margin:20px 0 28px;overflow:auto;}

.submain .con_r .con_r_4wrap li{width:100%;padding:4px 30px 4px;}
.submain .con_r .con_r_4wrap li{display:flex;justify-content:space-between;color:#747EA5}
.submain .con_r .con_r_4wrap li .name{color:#182869}
.submain .con_r .con_r_4wrap li .company{width:100px;}
.submain .con_r .con_r_4wrap li .position{width:40px;}

.submain .con_r .con_r_3wrap .worklist{flex-direction: column;width:auto;margin:0 30px;gap:10px;}
.submain .con_r .con_r_3wrap .worklist li {position:relative;width:100%;}
.submain .con_r .con_r_3wrap .worklist li .company{position:absolute;right:20px;top:20px;}
.submain .con_r .con_r_3wrap .worklist div{height:auto;}

@media screen and (max-width:1500px){
    .submain .con_r .con_r_4wrap li{flex-wrap:wrap;}
    .submain .con_r .con_r_4wrap li .position{text-align:right;}
    .submain .con_r .con_r_4wrap li .num{width:100%;text-align:right;}
    .submain .con_r .con_r_5wrap{flex-direction:column;}
    .submain .con_r .con_r_5wrap .news li:nth-last-child(2),
    .submain .con_r .con_r_5wrap .news li:last-child{display:none;}
}

.submain.main52 .con{flex-direction:column;justify-content:flex-start;gap:20px;}
.submain.main52 .con .box{flex-direction:column;justify-content:flex-start;align-items:flex-start;position:relative;}
.submain.main52 .con .box h3{width:100%;padding:23px 30px 20px;border-bottom:1px solid #E2E8FB;}
.submain.main52 .con .box ul{color:#747EA5}
.submain.main52 .con .box .wrap{width:100%;height:calc(100% - 91px);overflow:auto;}
.submain.main52 .con .box .grap{width:100%;padding:26px 30px;}
.submain.main52 .con .box .list{display:flex;flex-direction:column;gap:8px;}
.submain.main52 .con .box .list li{display:flex;justify-content:space-between;align-items:center;width:100%;}
.submain.main52 .con .box .list .num{color:#182869;font-family: 'GmarketSansM';font-size:13px;}
.submain.main52 .con .box .btn{position:absolute;right:30px;top:20px;}
.submain.main52 .con_l{width:33.3%}
.submain.main52 .con_l .wrap1{height:616px}
.submain.main52 .con_l .wrap2{height:225px}
.submain.main52 .con_l .wrap3{height:548px}
.submain.main52 .con_m{width:33.3%}
.submain.main52 .con_m .wrap1,
.submain.main52 .con_m .wrap2{height:155px}
.submain.main52 .con_m .wrap3{height:266px}
.submain.main52 .con_m .wrap4{height:225px}
.submain.main52 .con_m .wrap5{height:327px}
.submain.main52 .con_m .wrap6{height:200px}
.submain.main52 .con_r{width:33.3%}
.submain.main52 .con_r .wrap1{height:616px}
.submain.main52 .con_r .wrap2{height:791px}

.submain.main52 .con_l .wrap1 .icotit{display:block;padding:0 0 0 68px;color:#182869;font-weight:bold}
.submain.main52 .con_l .wrap1 .icotit b{display:block;font-weight:normal}
.submain.main52 .con_l .wrap1 .grap {padding-bottom:0;}
.submain.main52 .con_l .wrap1 .grap .col2ul{padding:20px 0 30px 68px;}

.col2ul.bott_line {border-bottom:1px solid #D9D9D9}
.col2ul{width:100%;}
.col2ul:after{content:"";display:block;clear:both}
.col2ul li{float:left;width:50%;padding:2px 0;color:#747EA5}
.col2ul li.wide{flex-grow:0;width:100%;}
.col2ul li b{display:inline-block;padding-right:10px;color:#182869}

.submain.main52 .con_l .wrap2 ul{display:flex;justify-content:center;width:100%;padding:30px 40px 0;gap:15%;}
.submain.main52 .con_l .wrap2 ul li{display:flex;flex-direction:column;align-items:center;gap:6px;}
.submain.main52 .con_l .wrap2 ul li b{position:relative;padding-top:40px;color:#182869}
.submain.main52 .con_l .wrap2 ul li b:before{content:"";display:block;position:absolute;top:0;left:50%;width:33px;height:32px;margin-left:-16px;background:url(../images/main/ico_mainico1.svg)}
.submain.main52 .con_l .wrap2 ul li b.ico2:before{background:url(../images/main/ico_mainico2.svg)}
.submain.main52 .con_l .wrap2 ul li b.ico3:before{background:url(../images/main/ico_mainico3.svg)}

.submain.main52 .con_l .wrap3 .wrap{padding:30px;}
.submain.main52 .con_l .wrap3 .wrap_item{margin-bottom:22px;border:1px solid #E2E8FB;border-radius:10px;}
.submain.main52 .con_l .wrap3 .wrap_item strong{display:block;padding:18px 20px;background-color:#FCFCFC;border-bottom:1px solid #E2E8FB}
.submain.main52 .con_l .wrap3 .wrap_item strong b{margin-right:10px;}
.submain.main52 .con_l .wrap3 .wrap_item .col2ul{padding:22px 30px;}

.ico_company{position:relative;margin:30px 0 10px;padding-left:30px;color:#182869;}
.ico_company:before{content:"";display:block;position:absolute;left:0;top:0;width:24px;height:24px;background:url(../images/main/ico_company.svg) no-repeat}
.g_compay{display:inline-block;padding:2px 6px;background:#fff;border:1px solid #A9C7FF;color:#5C88FD;font-size:14px;}

.submain.main52 .con_m .wrap4 .list .wrap_item {align-items:flex-start;margin-bottom:22px;padding:20px;border:1px solid #E2E8FB;border-radius:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div{display:flex;flex-direction:column;justify-content:flex-end;text-align:right;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span{margin-left:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span.ceo b{position:relative;padding-right:10px;margin-right:10px;}
.submain.main52 .con_m .wrap4 .list .wrap_item div span.ceo b:after{content:"";position:absolute;right:0;top:50%;display:block;width:1px;height:12px;margin-top:-6px;background:#A6A6A6}